<div>
 <div class="clarkiiprompt" dojoAttachPoint="containerNode"></div>
 <div class="buttons innerBox">
  ${!_roundedCornerTemplateString}
  <div dojoType="fw.ui.dijit.Button" buttonStyle="grey" dojoAttachEvent="onClick:onConfirm">${_slsYes}</div>
  <div dojoType="fw.ui.dijit.Button" buttonStyle="grey" dojoAttachEvent="onClick:onDecline">${_slsNo}</div>
  <div dojoType="fw.ui.dijit.Button" buttonStyle="grey" dojoAttachEvent="onClick:onInsert">${_slsInsert}</div>
 </div>
</div>
