<div class="flexibleMenu" role="presentation" tabIndex="-1">
	<div dojoAttachPoint="flexibleMenuTitle"></div>
	<div class="flexibleMenuWrapper">
		<div class="flexibleMenuMessage" dojoAttachPoint="messageNode"></div>
		<div class="flexibleMenuContainer" dojoAttachPoint="containerNode"></div>
	</div>
</div>