<div>
 <span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel" title="${buttonCancel}">
  <span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
 </span>
 <span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
 ${!_roundedCornerTemplateString}
 <div class="content" dojoAttachPoint="containerNode"></div>
</div>