<div class="fwStepWizard fwSlideWizard" dojoAttachPoint="wizardNode" onselectstart="return false;" ondragstart="return false;">
	<div class="fwStepWizardContainer" dojoAttachPoint="containerNode"></div>
	<a href="" class="fwStepAnchor fwPrevStepAnchor" dojoAttachPoint="prevNode"></a>
	<a href="" class="fwStepAnchor fwNextStepAnchor" dojoAttachPoint="nextNode"></a>
	<div class="fwSlideWizardLeftPane" dojoAttachPoint="wizardLeftPaneNode">
		<h2 class="fwSlideWizardLeftPaneTitle" dojoAttachPoint="wizardLeftPaneTitleNode">Select One:</h2>
		<div class="fwSlideWizardLeftPaneDots" dojoAttachPoint="wizardDots"></div>
	</div>
</div>
