<div class="fwStepWizard" dojoAttachPoint="wizardNode">
    <div class="fwStepWizardAnchors" dojoAttachPoint="wizardAnchorsNode">
		<span class="fwStepWizardUnselectable" dojoAttachPoint="wizardTitleNode"></span>
	</div>
    <div class="fwStepWizardContainer" dojoAttachPoint="containerNode"></div>
</div>
