<div class="TemplatePicker" dojoAttachPoint="templatePickerNode">
	<div dojoType="fw.dijit.UIActionImage" dojoAttachPoint="leftButton"
		dojoAttachEvent="onClick:pageLeft" id="${id}_leftButton"
		class="leftButton" src="${_imagePath}arrowLeft.png" clickImage="false"></div>
	<div dojoType="fw.dijit.UIActionImage" dojoAttachPoint="rightButton"
		dojoAttachEvent="onClick:pageRight" id="${id}_rightButton"
		class="rightButton" src="${_imagePath}arrowRight.png" clickImage="false"></div>
	<div class="TemplatePickerArea" dojoAttachPoint="pickerAreaNode">
		<div class="templatePickerMessage" dojoAttachPoint="messageNode">${!noTemplateMessage}</div>
	</div>
	<div class="pageIndicator" dojoAttachPoint="pageIndicatorNode">
		<span dojoAttachPoint="currentPageNode">${_SLS_Page}</span>
	</div>
	<div class="restoreButton" dojoAttachPoint="restoreButton"><a href="#" dojoAttachEvent="onclick:_restore">Restore</a></div>
</div>