body {
	font: 11px Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

#main {
	margin: 10px auto;
	width: 940px;
	padding: 0;
}

/* header */
#header {
	position: relative;
	height: 40px;
	background: url(../images/LeftSide.png) no-repeat;
	margin-bottom: 5px;
}

.header-bar {
	height: 40px;
	background: url(../images/Sliver.png) repeat-x;
	margin-left: 10px;
	width: 920px;
}

.logo {
	width: 920px;
	position:absolute;
	top:0px;
	left:0px;
	margin:0 0 0 20px;
	background: url(../images/RightSide.png) no-repeat 100% 0;
	height: 40px;
}

.logo a {
	display:block;
	height: 34px;
	width: 920px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/AviSportsTransparent.png) no-repeat 0 80%;
	margin-left: -5px;
}

.navigation {
	margin:0;
	padding:0;
	list-style: none;
	position: absolute;
	top:3px;
	right:-10px;
	width:100%;
	line-height: 40px;
	clear: left;
	text-align: right;
}

.navigation li {
	padding:0 20px 0 0;
	display: inline;
	font-size: 11px;
}
.navigation li a {
	color:#fff;
	height:34px;
	z-index: 15;
	padding: 0 3px 7px 0;
	margin:0 0 -7px;
}
.navigation li a span {
	height:34px;
	padding: 0 8px 0 11px;
	cursor: pointer;
	text-transform: uppercase;
}

.navigation li a:hover,
.navigation li.active a,
.navigation li.hover a,
.navigation li:hover a{
	text-decoration: none;
}

.center-column {
	float:none;
	width:100%;
	overflow:hidden;
	padding:0;
}

.center-column.blue {
	background: url('../images/BlueSliver.png') repeat-x bottom;
}

.center-column.orange {
	background: url('../images/OrangeSliver.png') repeat-x bottom;
}

.center-column.green {
	background: url('../images/GreenSliver.png') repeat-x bottom;
}

h2.title {
	width:100%;
	overflow:hidden;
	border-bottom:1px solid #adadad;
	padding:0px 0 6px;
	color: #363434;
}

/* home banners */
.home .banner .teaser {
	position: absolute;
	top: 165px;
	width: 415px;
	margin-left: 485px;
	padding: 15px;
	height: 150px;
	background-color: #fff;
}

.home .banner .teaser h2 {
	font-family: Arial Black;
	font-size: 22px;
	line-height: 1.2;
	margin: 10px 0 0 10px;
}

.home .banner .teaser p {
	font-size: 15px;
	margin: 5px 10px 0 10px;
}

.home .banner .teaser a {
	color: #5A93BF;
	font-weight: bold;
	display: block;
	/*margin: 0 0 0 9px;*/
	font-size: 14px;
}

.home .banner .teaser img.photo {
	display: block;
	float: left;
	margin-right: 20px;
}

.home .banner .top-stories {
	position: absolute;
	top: 65px;
	width: 420px;
	margin-left: 510px;
	padding-right: 0;
	height: 280px;
	opacity: 0.8;
	background-color: #fff;
}

.home .banner .top-stories h2 {
	margin: 7px 0 0 10px;
	font-family: Arial black;
	font-size: 22px;
	line-height: 1.2;
}

.home .banner .top-stories ul li div.descr {
	width: 390px;
}

.home .banner .top-stories ul {
	list-style: none;
	padding: 5px 0 0 13px;
	margin: 0px 0 0 0;
	width: 440px;
	height: 300px;
}

.home .banner .top-stories ul li {
	clear: both;
	padding-top: 5px;
	margin-bottom: 15px;
}

.home .banner .top-stories img {
	float: left;
	margin-right: 15px;
}

.home .banner .top-stories h3 {
	margin: 0 0 3px 0;
	line-height: 1.1;
	font-size: 14px;
}

.home .banner .top-stories .descr {
	margin-top: 0;
}

.home .banner .top-stories a {
	color: #000;
}

.post-wrapper {
	width: 100%;
	overflow: hidden;
	padding: 5px 0 0 10px;
}


.home .center-column {
	margin-top: 20px;
}

.home .center-column .post {
	width: 206px;
	padding: 0 12px 0px;
	float: left;
}

.home .content .caption,
.home .center-column .caption,
.section .content .caption,
.section .center-column .caption {
	display: none;
}
.section .two-column h2.title {
	margin: 15px 30px 0;
	width: auto;
}
.section .post-wrapper {
	width: 420px;
	float: left;
	margin: 0 15px 0;
}

.section.right-col .post-wrapper {
	width: 610px;
	margin: 0 20px 0 0;
	padding: 5px 0;
}

.section.right-col .post-wrapper.sidebar {
	width: 300px;
	float: right;
	margin: 20px 0 0;
}

.section.right-col .post-wrapper.sidebar h3 {
	font-size: 15px;
	margin: 10px 0 3px 0;
}

.section.right-col .post-wrapper h2.title {
	display: none;
}

.section.right-col .post-wrapper .post .descr {
	font-size: 13px;
}

.section.right-col .center-column .post-wrapper.sidebar h2 {
	display: block;
	color: #666;
	border: 0;
	font-size: 18px;
	margin: 15px 0 10px 0;
}

.section.right-col .center-column .post-wrapper.sidebar .descr {
	font-size: 11px;
	min-height: 0;
}

.section.right-col .post h3 {
	font-size: 18px;
	margin: 3px 0 3px 0;
}




.post-wrapper h3.title {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 0;
	padding: 0;
}

.post-wrapper h3.title a {
	color: #000;
}

.descr {
	color: #333;
	line-height: 1.3em;
	margin-top: 5px;
}	

.descr .relatedstories {
	clear: both;
	line-height: 1.4em;
}

.descr .relatedstories ul {
	overflow: hidden;
	padding-left: 15px;
}

.descr h3 {
	font-size: 16px;
	margin: 3px 0 5px 0;
	line-height: 1.2;
}

.descr h3 a {
	color: #000;
}

h2 {
	color: #000;
	line-height: 1.1;
}

.post {
	margin-bottom: 25px;
}

.post .photo,
.post .photo.left {
	display: block;
	float: left;
	margin: 0 25px 10px 0;
}

.post .photo.right {
	display: block;
	float: right;
	margin: 0 0 0 25px;
}

.post .photo.none {
	display: none;
}


.section .post {
	clear: both;
	padding-right: 5px;
	margin-left: 5px;
}

.section .post-large {
	clear: both;
	padding-right: 5px;
	min-height: 300px;
}

.section .post .descr.left,
.section .post .descr.right {
	min-height: 90px;
}

.section .post .descr.none {
	min-height: 0;
}

.section .post-large p.descr {
	margin: 0;
}

.sidebar .post .photo {
	margin: 0 10px 10px 0;
}

.sidebar .post .highlight .photo {
	float: none;
}

.sidebar h3.title {
	font-size: 14px;
	margin: 0 0 5px 0;
	line-height: 1.3;
}

.sidebar .highlight h3.title {
	margin-top: 5px;
	font-size: 16px;
}

/* main post */
.main-post {
	margin: 0 5px 10px;
}

.main-post ul {
	overflow: hidden;
	padding-left: 15px;
}

.article-link {
	color: #357CB2;
}
.article-link a {
	color: #357CB2;
	font-weight: bold;
	line-height: 1.4em;
}

li.article-link {
	margin-bottom: 5px;
}

.main-post .photo {
	display: block;
	float: left;
	margin: 0 10px 25px 0;
}

.post-wrapper .main-post h3.title {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 10px;
}

.main-post p {
	font-size: 13px;
}

/* article */
.article-layout .content {
	width: 640px;
	padding: 17px 0;
}

.title-section h1,
.content h1 {
	font-size:28px;
	line-height: 1.1;
	color:#323232;
	margin:0 0 3px;
}

.title-section h1 a {
	color: #000;
}

.title-section h2 {
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color:#333;
	margin:0 0 7px;
}

.author{
	font-size: 11px;
	color:#8f9090;
	display: block;
	margin-bottom: 25px;
}

.top-section {
	width:100%;
	margin:0 0 10px;
	padding: 3px 0 0;
}

.top-section .date{
	color:#8f9090;
	font-style: normal;
	font-size: 12px;
	padding: 0 0 0 10px;
	text-transform: uppercase;
}

.caption {
	width:100%;
	font-size: 11px;
	color:#8f9090;
	display: block;
	margin:5px 0 0 0;
}

.article-layout .sidebar {
	width:290px;
	float:left;
	/*background: #eff0f0;*/
	/*padding: 15px 8px 15px 27px;*/
	margin: 25px 0 0 10px;
}

.article-layout .sidebar .box {
	background-color: #EFF0F0;
	/*border: 1px solid #666;*/
	padding: 5px 0 25px 25px;
	margin-bottom: 15px;
}

.article-layout .sidebar .box ul {
	padding: 0 0 0 15px;
	color: #357CB2;
	line-height: 1.4;
	width: 224px;
}

.article-layout .sidebar .box ul li {
	margin-bottom: 5px;
}

.article-layout .sidebar .box ul a {
	color: #357CB2;
	font-weight: bold;
	line-height: 1.5;
}

.article-layout.left-col .sidebar {
	padding: 0;
	margin: 23px 0 0 0;
}

.article-layout .sidebar h2 {
	width: 239px;
}

.article-layout .sidebar .highlight {
	width: 239px;
	margin: 0 0 15px 0;
}


/* article */
.article-layout .content {
	float: left;
}

.article-layout.left-col .content {
	float: right;
	width: 617px;
}

.top-section .section-title a{
	color:#4584b5;
	font-weight: normal;
	text-transform: uppercase;
	margin:0 7px 0 0;
	font-size: 12px;
}

.article {
	width: 617px;
}

.article p {
	font-size:15px;
	line-height: 22px;
	color:#333;
	margin:0 0 12px;
}

.article-image {
	margin-bottom:15px;
}

.article-layout .sidebar .photo {
	display: none;
}

.article-layout .sidebar h3.title {
	font-size: 14px;
}

.article-layout .sidebar .highlight .photo {
	display: block;
}

/* simple layout */
.simple-layout .content {
	width: 700px;
	float: right;
}

.simple-layout .sidebar {
	width:200px;
}

.simple-layout .sidebar .box {
	background-color: #EFF0F0;
	padding: 5px 0 25px 25px;
	margin-bottom: 15px;
}

.simple-layout .sidebar .box ul {
	padding: 0 0 0 15px;
	color: #357CB2;
	line-height: 1.4;
	width: 200px;
}

.simple-layout .sidebar .box ul li {
	margin-bottom: 5px;
}

.simple-layout .sidebar .box ul a {
	color: #357CB2;
	font-weight: bold;
	line-height: 1.5;
}


.simple-layout .sidebar h2 {
	/*width: 200px;*/
}


/* footer */
#footer {
	clear: both;
	height:1%;
	overflow:hidden;
	padding: 10px 0 20px;
	margin: 15px 0;
	background: url('../images/footershadow.png') no-repeat left top;
}

#footer p{
	text-align: center;
	font-size: 10px;
	color:#b4b3b3;
}

.section #footer {
	margin: 0;
}
