.outtaHere {
	position:absolute;
	left:-3000px;
}
/*Checkboxes*/
.checkboxArea, .checkboxAreaChecked {
	float:left;
	width:15px;
	height:15px;
	overflow: hidden;
	background: url(../images/checkbox.gif) no-repeat;
}
.checkboxAreaChecked {background-position: 0 -15px;}
/* Selects */
.selectArea {
	position: relative;
	height: 15px;
	overflow:hidden;
	float:left;
}
.custom-select {
	border: 1px solid #95b9d5;
	background-color: #fff;
	color: #4584b5;
	font-weight: bold;
	height: 31px;
	width: 164px !important;
}
.custom-select-sidebar { width: 246px !important; }
.custom-select-1{
	width:246px !important;
	border-color:#d7dee3 !important;
	color:#333 !important;
}
.selectArea img{
	border:1px solid #8bb2d1;
	float:left;
}
.selectArea .left {
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	display: block;
	width:0;
}
.selectArea a.selectButton {
	position: absolute;
	top: 0;
	right: 0;
	width:7px;
	height:100%;
	background: url(../images/btn-select.gif) no-repeat 0 50%;
}
.custom-select a.selectButton {
	background: url(../images/bg-select-right.gif) no-repeat 100% -31px;
	width: 29px;
}
#container .active a.selectButton { background-position: 100% 0; }
.custom-select-1 a.selectButton{background:url(../images/btn-sel.gif);}
.selectArea a.selectButton:focus{outline: none;}
.selectArea .center{
	height: 15px;
	display:block;
	padding:0 7px 0 0;
	width:14px;
	overflow:hidden;
}
.custom-select .center{
	width: auto;
	height: 23px;
	padding:8px 7px 0 7px;
}
/*Selects drop-down*/
.optionsDivInvisible,
.optionsDivVisible {
	position: absolute;
	margin: 0 0 0 -70px;
	z-index: 100;
}
.drop-flag-drop-down { width:114px !important; }
.drop-custom-select {
	margin: 13px 0 0;
	width: auto;
}
.optionsDivInvisible img,
.optionsDivVisible img{border:1px solid #8bb2d1;}
.optionsDivInvisible {display: none;}
.optionsDivVisible ul{
	margin:0;
	padding:7px 0 5px;
	overflow:hidden;
	list-style: none;
	font-size: 12px;
	line-height: 18px;
}
.drop-custom-select ul {
	background: url(../images/bg-select-middle.png) no-repeat;
	margin: 0 0 0 -3px;
	width: 162px;
	padding: 2px 6px 1px 5px;
}
div.custom-select-sidebar ul {
	background: url(../images/bg-select-big.png) no-repeat;
	width: 244px;
}
.drop-flag-drop-down ul { background: url(../images/bg-drop-down.png) no-repeat; }
.optionsDivVisible ul img{
	border:0;
	margin:1px 7px 0 0;
	float:left;
}
.optionsDivVisible ul li {
	width: 100%;
	vertical-align: top;
	overflow: hidden;
}
.optionsDivVisible a {
	overflow:hidden;
	text-decoration: none;
	display: block;
	height:1%;
	position: relative;
	color: #4584b5;
	font-weight: bold;
	padding: 0 0 0 10px;
}
.drop-flag-drop-down a {
	color:#666;
	font-weight: normal;
}
.drop-custom-select a { padding: 5px 10px 4px 7px; }
.drop-flag-drop-down a:hover {text-decoration:underline;}
.drop-custom-select a:hover {
	background-color: #dbedfb;
	text-decoration: none;
}
.drop-flag-drop-down .select-bottom{
	width:114px;
	height:8px;
	background: url(../images/bg-drop-down-bottom.png) no-repeat;
}
.drop-custom-select .select-bottom{
	background: url(../images/bg-select-middle-bottom.png) no-repeat;
	height: 9px;
	overflow: hidden;
	font-size:0;
	width: 173px;
	margin: 0 0 0 -3px;
}
div.custom-select-sidebar .select-bottom{
	background: url(../images/bg-select-big-bottom.png) no-repeat;
	width: 252px;
}