/* top menu bar */
.topMenuBar {
	height: 40px;
	z-index: 101;
	overflow: visible;
	background: url('../../../../js/fw/images/menu/menuBg.png') repeat-x;
	padding-left: 20px;
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	position: relative;
	min-width: 1004px; /* to avoid elements collapse when small window size */	
}
.topMenuBarLeft {
	height: 28px;
	margin-top: 7px;
}
.topMenuBarLeft, .topMenuBarLeft div {
	float: left;
}

.topMenuBarRight {
	position: absolute;
	right: 70px;
}
.topMenuBar .usermenu {
	right: 20px;
}
.toggleWindow{
	display:inline-block;
	margin:7px 70px 0 0;
}

.logoWebCenterSites {
	background: url('../../../../js/fw/images/logos/SitesTitle.png') no-repeat 0 55%;
	width: 166px;
	height: 29px;
}
.topMenuBarRight img {
	vertical-align: middle;
	cursor: pointer;
}

/* top menu bar item */
.topMenuBarMenu {
	margin-left: 32px;
	position: relative;
	float: left;
}
.menuItem {
	color: #ffffff;
	font-size: 14px;
	line-height: 28px;
	padding: 0 20px;
	height: 28px;
	outline: none;
	vertical-align: middle;
	cursor: pointer;
}

.usermenuItem {
	color: #ffffff;
	font-size: 11px;
	padding-left: 20px;
	outline: none;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
}

.menuItem:hover {
	color: #fff;
	font-size: 14px;
	line-height: 28px;
	padding: 0 20px;
	height: 28px;
	outline: none;
	text-decoration: none;
	background: url('../../../../js/fw/images/menu/itemHoverBg.png') repeat-x 0 1px;
}
.toggleNav {
	margin-top: 16px;
}
/* toolbar */
.toolbarContent {
	background: url('../../../../js/fw/images/ui/ui/toolbar/bg.png') repeat-x;
	height: 43px;
}
.toolbarContentLeft {
	float: left;
	padding: 8px 5px;
}
.toolbarContentRight {
	float: right;
	padding: 13px 10px 0 0 !important;
}
.toolbarBorder {
	background: url('../../../../js/fw/images/ui/ui/toolbar/borderBg.png') repeat-x;
	height: 5px;
}
