<div dojoAttachPoint="devicePreview">
	<div class="devicePreviewWrap" dojoAttachPoint="devicePreviewWrap">
		<div dojoAttachPoint="deviceImageWrap" id="deviceImageWrap-${id}" class="deviceImageWrap">
			<div id="deviceImage-${id}" dojoAttachPoint="deviceImageDiv" dojoAttachEvent="onclick: _openPreview">
				<iframe id='contentPane_${viewId}' class="contentPane_${viewId} mobileScreen" src="about:blank" frameborder="0" dojoAttachPoint="contentPane"></iframe>	
			</div>
		</div>
		
		<div id='deviceInfo-${id}' class="deviceInfo" dojoAttachPoint="deviceInfo" dojoAttachEvent="onclick:_openPreview">
			<span class="deviceName">${deviceImage.deviceImageInfo.deviceImageName}</span>
			<div>${deviceImage.deviceImageInfo.manufacturer}</div>
			<div>${deviceImage.pixelDimensions.screenWidth} X ${deviceImage.pixelDimensions.screenHeight}</div>
		</div>
	</div>
	<style>
		.dj_ie8 #viewContainer_${viewId} #deviceImageWrap-${id} {
			top: 150px !important;
			bottom: auto !important;
			filter: progid:DXImageTransform.Microsoft.Matrix(M11=${scale}, M12=0, M21=0, M22=${scale}, SizingMethod='auto expand');
		}

		.dj_ie8 #viewContainer_${viewId} #deviceInfo-${id} {
			margin-left: ${infoLeftOffset}px;
			top: 90px !important;
			bottom: auto !important;
		}

		#viewContainer_${viewId} #deviceImageWrap-${id} {
			-webkit-transform: translateX(${transformDimension.deviceTranslateX}px) scale(${scale});
			-webkit-transform-origin: 0px ${transformDimension.transformOriginY}px;
			-webkit-box-shadow: 20px 20px 80px;
			-webkit-border-radius: 200px;
			-moz-transform: translateX(${transformDimension.deviceTranslateX}px) scale(${scale});
			-moz-transform-origin: 0px ${transformDimension.transformOriginY}px;
			box-shadow: 20px 20px 80px;
			border-radius: 200px;
			-ms-transform: translateX(${transformDimension.deviceTranslateX}px) scale(${scale});
			-ms-transform-origin: 0px ${transformDimension.transformOriginY}px;
			-ms-box-shadow: 20px 20px 80px;
			-ms-border-radius: 200px;
		}
		
		#viewContainer_${viewId} #deviceInfo-${id} {
			-webkit-transform: translateX(${transformDimension.infoTranslateX}px);
			-moz-transform: translateX(${transformDimension.infoTranslateX}px);
			-ms-transform: translateX(${transformDimension.infoTranslateX}px);
			transform: translateX(${transformDimension.infoTranslateX}px);
		}

		#viewContainer_${viewId} #deviceImage-${id} {
			width: ${deviceImage.pixelDimensions.deviceWidth}px;
			height: ${deviceImage.pixelDimensions.deviceHeight}px;
			background: url(${deviceImage.deviceImageInfo.portraitImageUrl}) no-repeat scroll 0 0;
		}
	
		#viewContainer_${viewId} #deviceImage-${id} #contentPane_${viewId} {
			width: ${effectivePixelDimensions.screenWidth}px;
			height: ${effectivePixelDimensions.screenHeight}px;
			margin: ${deviceImage.pixelDimensions.topOffset}px 0 0 ${deviceImage.pixelDimensions.leftOffset}px;
			
			-webkit-transform: scale(${deviceImage.deviceImageInfo.pixelRatio});
			-moz-transform: scale(${deviceImage.deviceImageInfo.pixelRatio});
			-ms-transform: scale(${deviceImage.deviceImageInfo.pixelRatio});
			transform: scale(${deviceImage.deviceImageInfo.pixelRatio});
		}
	</style>
</div>