.fw .UIInput {
	position: relative;
	left: 0;
	text-align: left;
	border: none;
	padding: 1px; /* to make layout consistent with focused border style */
}
.dj_ie .fw .UIInput {
	margin: 0;
}

/* focused/error state styles, same as UITextarea and UIComboBox/etc. */
.fw .UIInputFocused {
	padding: 0; /* override 1px padding on our form widgets' default states */
	border: 1px solid #76929d;
	outline: none;
}
.fw .UIInputError {
	padding: 0 !important; /* override 1px padding on our form widgets' default states */
	border: 1px solid #e41e22;
}
.fw .UIInput .dijitInputContainer {
	text-align: left;
	/* float: left; /* [KGF] we shouldn't force this. */
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #8f8f8f;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	background: #fff;
	height: 22px; /* formerly IE-only */
}
.fw .UIValidationWrapperError .dijitInputContainer {
	background: #fde0e0;
}
.fw .UIInputDisabled .dijitInputContainer {
	background: #eee;
	color: #666;
}
.dj_webkit .fw .dijitTextBoxDisabled input {
	color: #666;
}
/* TODO: this style subject to change if we can figure out a better use */
.fw .dijitTextBoxError .dijitValidationContainer {
	display: none; /* our validation L&F doesn't use this, this gets in the way */
}

/* TODO: remove this once we migrate to UITextArea in Admin UI */
.fw .dijitTextArea {
	border: 1px solid #ccc;
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	font-size: 12px;
	padding: 4px 0 0 4px;
}
.fw .dijitTextAreaFocused {
	border: 1px solid #76929d;
}
.fw .UIInput .fwInputWrapper {
	border-bottom: none;
	border-top: 1px solid #cdcdcd;
	border-left: 1px solid #f3f3f3;
	border-right: 1px solid #f3f3f3;
	padding: 1px 0 0 2px;
	vertical-align: top;	
}
.dj_ie8 .UIInput .fwInputWrapper {
	padding-top: 3px;	
}
.fw .UIInput input {
	height: 18px;
	outline: none;
	line-height: normal;
}
.dj_safari .fw .UIInput input {
	padding-left: 0;
}

/* [KGF] TODO: merge these with UICB/FS!
   (currently can't because of DOM differences) */
.fw .dijitPlaceHolder {
	color: #aaa;
	font-style: normal; /* don't want italic from dijit.css */
	margin: 4px 0 0 4px;
}

/* [KGF] moving UIInputCross class here since multiple widgets are starting to
   use it.  Might want to move the functionality into UIInput itself as an
   option eventually... */
.fw a.UIInputCross {
	background: url("../../../Xcelerate/graphics/common/msg/deactive.png") no-repeat;
	position: absolute;
	z-index: 100;
	height: 10px;
	width: 10px;
	right: 6px;
	top: 6px;
	display: none;
	cursor: pointer;
}
.fw a.UIInputCross:hover {
	text-decoration: none;
	background-image: url("../../../Xcelerate/graphics/common/msg/active.png");
}
.fw .UIInput .fwInputWrapper.hasClearButton {
	padding-right: 22px;
}
