<div class='MarkUpNode'>
	<div class="ContainerNode" dojoAttachPoint="ContainerNode">
		<div class="WrapperNode" dojoAttachPoint="WrapperNode" dojoAttachEvent='onmouseover: _onValueMouseOver, onmouseout: _onValueMouseOut'>
			<div class="ValueContainerNode" dojoAttachPoint="ValueContainerNode">
				<div class="ValueNode" dojoAttachPoint="ValueNode"></div>
			</div>
		</div>
	</div>
	<div class='DeleteContainerNode' dojoAttachPoint='DeleteContainerNode'>
		<div class='DeleteNode' dojoAttachPoint='DeleteNode' dojoAttachEvent='onclick: _onDeleteClick'></div>
	</div>
</div>