<div>
	<div style='background-image: url("${icon}"); background-repeat: no-repeat; background-color: transparent; height: 32px; width: 32px; cursor: pointer;' dojoAttachPoint="IconNode" dojoAttachEvent="onmouseover: _onIconMouseOver, onmouseout: _onIconMouseOut, onclick: _onIconClick">
	</div>
</div>