/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: 0;
}

/* set image max width to 100% 
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
*/
/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	font: .81em/150% Arial, Helvetica, sans-serif;
}
a {
	color: #000;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 1.2em;
	padding: 0;
}

/* list */
ul, ol {
	margin: 1em 0 1.4em 24px;
	padding: 0;
	line-height: 140%;
}
li {
	margin: 0 0 .5em 0;
	padding: 0;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.1em;
	margin: 5px 0 .4em;
	color: #000;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}


/************************************************************************************
GENERIC
*************************************************************************************/
body#avisports {
	font: 11px Arial, Helvetica, sans-serif;
	margin: 2px;
}

body#avisports img {
	border: 0;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footer {
	padding: 10px 0;
	background: url('../images/footershadow.png') no-repeat left top;
}

#footer p#copyright{
	text-align: center;
	font-size: 10px;
	color: #b4b3b3;
}

#footer a {
	color: #357CB2;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header #top-bar {
	height: 35px;
	background: url("../../images/Sliver.png") repeat-x scroll 0 0 transparent;
}

#header #top-bar #logo {
	height: 35px;
	width: 140px;
	float: left;
}

#header #top-bar #logo a div {
	margin-left: 10px;
	display: block;
	height: 100%;
	background: url(../../images/AviSportsTransparent.png) no-repeat 0%;
}

#header #nav-icon-wrap {
	height: 35px;
	display: inline-block;
	position: absolute;
	right: 0px;
}

#header #nav-icon-wrap a #nav-icon {
	margin-right: 15px;
	width: 44px;
	height: 40px;
}

#header #nav-icon-wrap a #nav-icon.close {
	background: url(../../images/open_nav.png) no-repeat 0%;
}

#header #nav-icon-wrap a #nav-icon.open {
	background: url(../../images/close_nav.png) no-repeat 0%;
}


/************************************************************************************
NAVIGATION BAR
*************************************************************************************/

#header #nav-container {
	border: 1px solid #f8f8f8;
	display: none;
}

#header #nav-container img {
	width: 100%;
}

#header #nav-container ul {
	padding: 0;
	background-color: #f8f8f8;
}

#header #nav-container ul li.navigation-item {
	list-style: none;
	border: 1px solid #e0e0e0;
	height: 40px;
}

#header #nav-container ul li.navigation-item a {
	text-decoration: none;
	color: #3275c7;
	margin-left: 20px;
	line-height: 40px;
}

/************************************************************************************
SUMMARY
*************************************************************************************/
.summary {
	background-color: #d9e3f0;
	border-bottom: 1px solid #fff;
	position: relative;
	margin: 0;
}

.summary .text {
	font-size: 12px;
	line-height: 40px;
	margin-left: 15px;
	margin-right: 20px;
}

.summary .text a {
	color: #333333;
}

.summary .icon {
	height: 12px;
	width: 11px;
	position: absolute;
	right: 8px;
	bottom: 14px;
	background:url(../../../Xcelerate/graphics/common/icon/arrow.png) no-repeat;
}

/************************************************************************************
SUMMARY LINK
*************************************************************************************/
.post.green .summary-link {
	background-color: #cdf3c8;
}

.post.orange .summary-link {
	background-color: #e4d9c8;
}

.summary-link .text .author {
	line-height: 25px;
	font-size: 10px;
}

.summary-link {
	background-color: #d9e3f0;
	border-bottom: 1px solid #fff;
	position: relative;
	margin: 0;
}

.summary-link .text {
	font-size: 14px;
	line-height: 27px;
	margin-left: 15px;
	margin-right: 20px;
}

.summary-link .text a {
	color: #333333;
}

.summary-link .icon {
	height: 12px;
	width: 11px;
	position: absolute;
	right: 8px;
	bottom: 14px;
	background:url(../../../Xcelerate/graphics/common/icon/arrow.png) no-repeat;
}

/************************************************************************************
SUMMARY FEATURE
*************************************************************************************/
.summary-feature .title {
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0;
	padding: 0;
}

.summary-feature .description {
	color: #333;	
}

/************************************************************************************
SUMMARY HIGHLIGHT
*************************************************************************************/
.summary-highlight .title {
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0;
	padding: 0;
}

.summary-highlight .description {
	color: #333;	
}

/************************************************************************************
SUMMARY SIDEBAR
*************************************************************************************/
.summary-sidebar {
	display: inline-block;
	margin: 10px 0;
}

.summary-sidebar .thumbnail {
	width: 35%;
	float: left;
	margin-right: 10px;
}

.summary-sidebar .description-wrap {
	width: 60%;
	display: inline-block;
}

.summary-sidebar .title {
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.summary-sidebar .abstract {
	color: #333;
	margin: 0;
}


/************************************************************************************
ARTICLE DETAIL
*************************************************************************************/
.article-detail {
	border: 1px solid #bcbbb9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0 5px;
	margin: 5px 2px;
}

.article-detail .section-title {
	padding-left: 5px;
	background-color: lightgray;
	line-height: 30px;
}

.article-detail .section-title a {
	color: #000;
}

.article-detail .subheadline {
	font-weight: normal;
	color: #333;
	margin: 0 0 7px;
}

.article-detail .body {
	
}

/************************************************************************************
PAGE DETAIL HOME
*************************************************************************************/
.page-detail-home {
	display: inline-block;
	margin: 5px 0;
}

.page-detail-home .teaser-image {
	width: 35%;
	margin-right: 10px;
	float: left;
}

.page-detail-home .teaser-image img {
	width: 100%;
}

.page-detail-home .description {
	width: 60%;
	display: inline-block;
}

.page-detail-home2 .description {
	display: inline-block;
}

/************************************************************************************
HOME PAGE
*************************************************************************************/
#section #tile-container a {

}

#section #tile-container a img {
	width: 100%;
}

/************************************************************************************
BODY SECTION
*************************************************************************************/

#section #banner img {
	width: 100%;
	margin: 1px 0;
}



#section #post-wrap.green {
	background: url('../images/GreenSliver.png') repeat-x bottom;
}

#section #post-wrap.blue {
	background: url('../images/BlueSliver.png') repeat-x bottom;
}

#section #post-wrap.orange {
	background: url('../images/OrangeSliver.png') repeat-x bottom;
}
