<div class="dijitDialog UIDialogContainer" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
 <div class="UIDialog">
  <div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
   <span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
   <span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel" title="${buttonCancel}">
    <span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
   </span>
  </div>
  <div dojoAttachPoint="containerNode" class="dijitDialogPaneContent"></div>
 </div>
</div>