<div class="defaultReview starsAverage">
	<div dojoAttachPoint="starsNode" class="stars">
		<div class="starOff_small"></div>
		<div class="starOff_small"></div>
		<div class="starOff_small"></div>
		<div class="starOff_small"></div>
		<div class="starOff_small"></div>								
	</div>

	<div class="details" dojoAttachPoint="detailsNode">
		<div class="arrow"></div>
		<div class="header">Review Detail<a class="right close" href="#" dojoAttachPoint="closeDetailNode"></a></div>
		<div class="detailsContent">
			(<span dojoAttachPoint="votesNode1">0</span>) Total Reviews
			<div class="mt20"></div>
			<div class="row">
					<b class="startitle">5 Star</b> 
					<div class="starsbox">
						<div class="starOn_small left"></div>
						<div class="starOn_small left"></div>
						<div class="starOn_small left"></div>
						<div class="starOn_small left"></div>
						<div class="starOn_small left"></div>
					</div>
					<div class="starpoints">
					(<span dojoAttachPoint="stars5">0</span>)
					</div>
				</div>
				<div class="row">
					<b class="startitle">4 Star</b> 
					<div class="starsbox">					
						<div class="starOn_small left"></div>
						<div class="starOn_small left"></div>
						<div class="starOn_small left"></div>
						<div class="starOn_small left"></div>
						<div class="starOff_small left"></div>																 
					</div>
					<div class="starpoints">
					(<span dojoAttachPoint="stars4">0</span>)
					</div>
				</div>
				<div class="row">
					<b class="startitle">3 Star</b>
					<div class="starsbox">
						<div class="starOn_small left"></div>
						<div class="starOn_small left"></div>
						<div class="starOn_small left"></div>
						<div class="starOff_small left"></div>
						<div class="starOff_small left"></div>
					</div>
					<div class="starpoints">					
					(<span dojoAttachPoint="stars3">0</span>)
					</div>
				</div>
				<div class="row">
					<b class="startitle">2 Star</b> 
					<div class="starsbox">					
						<div class="starOn_small left"></div>
						<div class="starOn_small left"></div>
						<div class="starOff_small left"></div>
						<div class="starOff_small left"></div>
						<div class="starOff_small left"></div>
					</div>
					<div class="starpoints">					
					(<span dojoAttachPoint="stars2">0</span>)
					</div>
				</div>
				<div class="row">
					<b class="startitle">1 Star</b> 
					<div class="starsbox">					
						<div class="starOn_small left"></div>
						<div class="starOff_small left"></div>
						<div class="starOff_small left"></div>
						<div class="starOff_small left"></div>
						<div class="starOff_small left"></div>
					</div>
					<div class="starpoints">											
					(<span dojoAttachPoint="stars1">0</span>)
					</div>
				</div>
			<div class="mt20"></div>
		</div>
		
	</div>
</div>