<div class="inputReview">
	<div class="left">
		<a class="reviewInputStar" dojoAttachPoint="star1Node"></a>
	</div>
	<div class="left">
		<a class="reviewInputStar" dojoAttachPoint="star2Node"></a>
	</div>
	<div class="left">
		<a class="reviewInputStar" dojoAttachPoint="star3Node"></a>
	</div>
	<div class="left">
		<a class="reviewInputStar" dojoAttachPoint="star4Node"></a>
	</div>
	<div class="left">
		<a class="reviewInputStar" dojoAttachPoint="star5Node"></a>
	</div>			
	<input type="hidden" dojoAttachPoint="inputNode" name="${name}" value="0"/>
</div>