<div class='UIWarningBox' dojoAttachPoint="mainNode">
<table><tr>
 <td class="UIWarningBoxIconCell">
  <div class="${type}Icon" dojoAttachPoint="typeNode">&nbsp;</div>
 </td>
 <td class="UIWarningBoxContentCell">
  <div dojoAttachPoint="htmlNode">${html}</div>
 </td>
 <td class="UIWarningBoxCloseCell">
  <span class="UIWarningBoxClose" dojoAttachEvent="onclick:_onCloseClick"></span>
 </td>
</tr></table>
</div>