<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
        "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>asset</shortname>
	<info>A tag library for Content Centre Asset object methods.</info>
	<tag>
		<name>argument</name>
		<tagclass>com.openmarket.framework.jsp.Argument</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Child tag which defines an arbitrary name/value pair available to the parent asset tag.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>checkin</name>
		<tagclass>com.openmarket.framework.jsp.object.CheckIn</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Checks in a revision tracked asset. 
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>annotation</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>checkout</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>flush</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>checkout</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.CheckOut</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Checks out a revision tracked asset for editing. 
		</info>
		<attribute>
			<name>classname</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectversion</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>children</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Children</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Builds a list of child assets for the specified parent asset. 
		</info>
		<attribute>
			<name>name</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>assetid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objecttype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectversion</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>code</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>order</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>deptype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
    </tag>
	<tag>
		<name>create</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Create</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Creates an asset object instance.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
	</tag>
	<tag>
		<name>deinstall</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Deinstall</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Deinstalls asset object.
		</info>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
	</tag>
	<tag>
		<name>delete</name>
		<tagclass>com.openmarket.framework.jsp.object.Delete</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Permanently deletes an asset. Use of this tag is discouraged in favor of asset:void and asset:deletevoids.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>gather</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Gather</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Retrieves name/value pairs from the environment, and sets them into a loaded asset. The name/value pairs are grouped together using a prefix and a prefix separator.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>fieldlist</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>exclude</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>get</name>
		<tagclass>com.openmarket.framework.jsp.object.Get</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Retrieves the value of a single field from a loaded asset object.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>output</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>install</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Install</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Installs an asset object.
		</info>
		<attribute>
			<name>dir</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>acl</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>track</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
	</tag>
	<tag>
		<name>list</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.List</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>
			Retrieves a list of assets of a given type that meet the specified criteria.
		</info>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>order</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>pubid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>excludevoided</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>field1</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>value1</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>field2</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>value2</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field3</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>value3</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>field4</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>value4</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>field5</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>value5</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>field6</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>value6</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>field7</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>value7</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>field8</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>value8</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field9</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>value9</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>load</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Load</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Loads an instance of the asset into memory as an object.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectversion</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>checkout</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>nodeid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>deptype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>editable</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>option</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>flushonvoid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>site</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
	</tag>
	<tag>
		<name>rollback</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.RollBack</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Rolls back an asset object to a previous revision.
		</info>
		<attribute>
			<name>classname</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectversion</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>revision</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>save</name>
		<tagclass>com.openmarket.framework.jsp.object.Save</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Saves an asset.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>flush</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>scatter</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Scatter</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Retrieves all fields of a loaded object and "scatters" their values into individual variables sharing a common prefix. 
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>fieldlist</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>exclude</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>set</name>
		<tagclass>com.openmarket.framework.jsp.object.Set</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Sets the value of a single field in an asset.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>stream</name>
		<tagclass>com.openmarket.framework.jsp.object.Stream</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Streams the value of a field from an object.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>resolve</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>undocheckout</name>
		<tagclass>com.openmarket.framework.jsp.object.UndoCheckOut</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Undoes the checkout of an asset.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>revert</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>flush</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>addchild</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.AddChild</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Designates an asset to be added as a child to the loaded asset upon save.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>childid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>rank</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>code</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>childgather</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.ChildGather</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Gathers information from variables about which child relationships should be added, deleted, or updated for a loaded asset.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>codelist</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>getassettype</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.GetAssetType</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Loads the asset type object of an asset instance.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>outname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>getpubdeps</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.GetPubDeps</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			For publishing, gets a list of assets that the asset is dependent upon. 
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>depth</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>getsitenode</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.GetSiteNode</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Retrieves the node ID of the specified page asset.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>output</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>gettemplate</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.GetTemplate</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Loads the template of an asset.
		</info>
		<attribute>
			<name>name</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>template</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>outname</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>out</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>removechildren</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.RemoveChildren</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Removes asset relationships of this asset.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>childid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>code</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>share</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Share</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Shares an asset into publications listed in publist.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>publist</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>siteparent</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.SiteParent</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Loads the parent page of a page asset.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>outname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>void</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Void</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Marks the status code of the asset to VO and removes any child relations.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>getexportfile</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.GetExportFile</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Gets export filename for asset.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>outname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>parent</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>target</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>loadall</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.LoadAll</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Loads all assets specified in the input list and creates objects with names composed of the prefix name plus a counter.
		</info>
		<attribute>
			<name>list</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>ids</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>idfield</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>deptype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>editable</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>option</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
	</tag>
	<tag>
		<name>saveall</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.SaveAll</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Saves all assets named with the prefix name plus a counter. 
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
	</tag>
	<tag>
		<name>referencedby</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.ReferencedBy</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Builds a list of assets that reference this asset. 
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>embeddedreflist</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>childtypes</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.ChildTypes</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Builds a list of asset types that are children of this asset.
		</info>
		<attribute>
			<name>name</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>sites</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Sites</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Builds a list of publications to which this asset belongs.
		</info>
		<attribute>
			<name>name</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>pubid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>canedit</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.CanEdit</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Checks if it is safe to edit asset, i.e. whether the asset is not being published.
		</info>
		<attribute>
			<name>name</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>export</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Export</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Makes an xml version of the asset from scattered variables.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>output</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>file</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>subtype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>pubid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>writeattrvalue</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
    <tag>
		<name>exportinxsdschema</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.ExportInXSDSchema</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Exports the asset from scattered variables in XSD schema defined format.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>namespace</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>output</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>subtype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>pubid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
    <tag>
		<name>exportinlists</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.ExportInLists</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Exports the asset from scattered variables as a set of lists.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>outlistprefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>subtype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>pubid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>import</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Import</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Takes in xml and creates ics variables in format suitable for gather.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>xml</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>file</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>pubid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>subtype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>readattrvalue</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>getlegalsubtypes</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.GetLegalSubtypes</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Generates an Ilist of legal subtypes for the asset type.
		</info>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>pubid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>getsubtype</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.GetSubtype</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Deposits the asset's subtype in a CS variable.
		</info>
		<attribute>
			<name>name</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>output</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
    <tag>
		<name>setsubtype</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.SetSubtype</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Sets the new asset's subtype.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
		<tag>
		<name>gettemplaterootelement</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.GetTemplateRootElement</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Gets the rootelement of an asset's template.
		</info>
		<attribute>
			<name>name</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>template</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>output</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>def</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Def</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Returns a list of an asset type's attributes and indicates whether each attribute is optional, required, read only, or editable.
		</info>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>subtype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>pubid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>search</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Search</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Searches for an asset, gathering variables from environemnt for search criteria.
		</info>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>subtype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>fieldlist</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>exclude</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>limit</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>order</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>what</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>gettemplatepagename</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.GetTemplatePageName</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Gets sitecatalog entry for template, looking first in the AssetDefaultTemplate, then in the asset.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>target</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>site</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>output</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>gettemplatefortarget</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.GetTemplateForTarget</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Gets a template name for an asset, looking first in the AssetDefaultTemplate, then in the asset.
		</info>
		<attribute>
			<name>name</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>target</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>subtype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>output</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>inspect</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Inspect</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Returns a list describing all fields of an asset.
		</info>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>subtype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>pubid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>loadrevision</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.LoadRevision</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Loads an asset revision from the revision tracking table.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>revision</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>deleterevision</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.DeleteRevision</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Deletes an asset revision from the revision tracking table.
		</info>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>revision</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>removeexcessrevisions</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.RemoveExcessRevisions</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Removes excess revisions, more than the specified maximum.
		</info>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>max</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>isempty</name>
		<tagclass>com.openmarket.framework.jsp.object.IsEmpty</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Determines whether a field in an asset is empty.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>output</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>getassettypeproperties</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.GetAssetTypeProperties</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Generates variables reflecting assettype's properties.
		</info>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>cantakeaction</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.CanTakeAction</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Determines whether editing actions related to the asset's members are allowed.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>actions</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>memberid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>oldmember</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>cleanup</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Cleanup</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			For cleaning up temporary data objects post-editing.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>reorder</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Reorder</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Sets the order of assets in a collection.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>removemembers</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.RemoveMembers</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Removes member asset references from an asset.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
		<tag>
		<name>addmembers</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.AddMembers</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Adds child assets to an asset that can contain child assets. 
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>changeref</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.ChangeRef</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Replaces a member reference to reference a different asset.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>legalchildtypes</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.LegalChildTypes</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Returns a list of legal asset types for the asset reference attribute.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>listvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>pubid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>deleteassettype</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.DeleteAssetType</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Deletes an asset type.
		</info>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
	</tag>
	<tag>
		<name>getassettypedependents</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.GetAssetTypeDependents</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Returns a comma-separated list of related asset types that will be affected by a delete of the asset type.
		</info>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
	</tag>
	<tag>
		<name>getassettypesonwhichidepend</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.GetAssetTypesOnWhichIDepend</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Returns a comma-separated list of related asset types that must exist for this asset type to function.
		</info>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
	</tag>
	<tag>
		<name>addsite</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.AddSite</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Adds a site affiliation to a loaded asset.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>pubid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
	</tag>
	<tag>
		<name>removesite</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.RemoveSite</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Removes a site affiliation from a loaded asset.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>pubid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
	</tag>
	<tag>
		<name>deletevoids</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.DeleteVoids</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Deletes voided assets from system.
		</info>
		<attribute>
			<name>list</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
		<attribute>
			<name>excluderevtracked</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
	</tag>
	<tag>
		<name>track</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Track</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Enables revision tracking on an asset type.
		</info>
		<attribute>
			<name>revisions</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>untrack</name>
		<tagclass>com.openmarket.xcelerate.jsp.asset.Untrack</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Disables revision tracking on an asset type.
		</info>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
    <tag>
        <name>asset</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.Asset</tagclass>
        <bodycontent>empty</bodycontent>
        <info>This is a child tag that will add an asset to a list maintained
        by a parent tag.</info>
        <attribute>
            <name>type</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>assetid</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>dimensionparentrelationship</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.DimensionParentRelationship</tagclass>
        <bodycontent>empty</bodycontent>
        <info>This is a child tag that will add a dimension parent relationship to a list
            maintained by a parent tag.</info>
        <attribute>
            <name>type</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>assetid</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>group</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>setdimensions</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.SetDimensions</tagclass>
        <info>This tag sets the dimensions for a given asset.
        Dimensions are specified using the asset:asset tag.</info>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>setlocales</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.SetDimensions</tagclass>
        <info>This tag sets the dimensions for a given asset.
        Dimensions are specified using the asset:asset tag.</info>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>adddimension</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.AddDimension</tagclass>
        <bodycontent>empty</bodycontent>
        <info>Adds a dimension to the currently loaded asset.</info>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>dimensionid</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>dimensionname</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>addlocale</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.AddDimension</tagclass>
        <bodycontent>empty</bodycontent>
        <info>Adds a dimension to the currently loaded asset.</info>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>dimensionid</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>dimensionname</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>removedimension</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.RemoveDimension</tagclass>
        <bodycontent>empty</bodycontent>
        <info>Removes a dimension from the currently loaded asset.</info>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>dimensionid</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>dimensionname</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>removelocale</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.RemoveDimension</tagclass>
        <bodycontent>empty</bodycontent>
        <info>Removes a dimension from the currently loaded asset.</info>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>dimensionid</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>dimensionname</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>getdimensions</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.GetDimensions</tagclass>
        <bodycontent>empty</bodycontent>
        <info>Gets an IList of the dimensions.  The IList has 3 columns: TYPE,
            OBJECTID, NAME, corresponding to the dimension asset type (usually
        "Dimension"), the asset id, and the asset name.</info>
        <attribute>
            <name>name</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>type</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>objectid</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>list</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>getlocales</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.GetLocales</tagclass>
        <bodycontent>empty</bodycontent>
        <info>Gets an IList of the locales.  The IList has 3 columns: TYPE,
            OBJECTID, NAME, corresponding to the dimension asset type (usually
        "Dimension"), the asset id, and the asset name.</info>
        <attribute>
            <name>name</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>type</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>objectid</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>list</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>getlocale</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.GetLocale</tagclass>
        <bodycontent>empty</bodycontent>
        <info>Gets the locale of an asset.  The locale's asset type, asset id
            and name are set into variables in the form PREFIX:TYPE,
            PREFIX:OBJECTID, PREFIX:NAME
            </info>
        <attribute>
            <name>name</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>type</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>objectid</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>prefix</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>setdimparents</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.SetDimensionableAssetParents</tagclass>
        <info>This tag sets the dimensionable asset parent instances for a given asset.
        Parents are specified using the asset:dimensionparentrelationship tag.</info>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>removedimparents</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.RemoveDimensionableAssetParents</tagclass>
        <info>This tag removes the dimensionable asset parent instances specified, for a given asset.
        Parents to remove are specified using the asset:dimensionparentrelationship tag.</info>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>getdimparents</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.GetDimensionableAssetParents</tagclass>
        <bodycontent>empty</bodycontent>
        <info>Gets an IList of the dimensionable asset parents.  The IList has 3 columns: TYPE,
            OBJECTID, and GROUP corresponding to the dimension asset type and the asset id.</info>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>list</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>getrelatives</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.GetRelatives</tagclass>
        <bodycontent>empty</bodycontent>
        <info>Gets an IList of the relatives of this asset (those who share the same
            dimension parent).  The IList has  2 columns: TYPE and
            OBJECTID corresponding to the relative's asset type and  asset id.</info>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>list</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>filter</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>gettranslations</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.GetRelatives</tagclass>
        <bodycontent>jsp</bodycontent>
        <info>Gets an IList of the relatives of this asset (those who share the same
            dimension parent).  The IList has  2 columns: TYPE and
            OBJECTID corresponding to the relative's asset type and  asset id.</info>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>list</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>filter</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>filterassetsbydate</name>
        <tagclass>com.openmarket.xcelerate.jsp.asset.FilterAssetsByDate</tagclass>
        <bodycontent>jsp</bodycontent>
        <info>Filters a given list of assets by comparing the start/end dates and the given date.</info>
        <attribute>
            <name>inputList</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
        <attribute>
            <name>outputList</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
        <attribute>
            <name>date</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>logdependency</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>deptype</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>	
</taglib>
