<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
        "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>calculator</shortname>
	<info>A tag library for CatC calculator object methods.</info>
 	<tag>
		<name>argument</name>
		<tagclass>com.openmarket.framework.jsp.Argument</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Child tag which defines an arbitrary name/value pair available to the parent calculator tag.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>go</name>
		<tagclass>com.openmarket.basic.jsp.calculator.Go</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			This method calculates the value of an expression using reverse polish notation. 
		</info>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
   	</tag>
 </taglib>
