<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
        "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>csmac</shortname>
	<info>A tag library for CatC CAMAC object methods.</info>
 	<tag>
		<name>argument</name>
		<tagclass>com.openmarket.framework.jsp.Argument</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Child tag which defines an arbitrary name/value pair available to the parent csmac tag.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>cookievalue</name>
		<tagclass>com.openmarket.cscommerce.jsp.csmac.Cookievalue</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			 Produces a cookie value that the Web Designer can insert into
             the visitor's browser to enable Transact to recognise the user 
             without requiring additional authentication
        </info>
		<attribute>
			<name>userid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>storeid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>seconds</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

   	</tag>
    <tag>
		<name>payload</name>
		<tagclass>com.openmarket.cscommerce.jsp.csmac.Payload</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
	       Generates a MAC query string value for a string resembling a name-value
           pair URL query string, with a specific store's current key.
        </info>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>storeid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
   	</tag>
    <tag>
		<name>string</name>
		<tagclass>com.openmarket.cscommerce.jsp.csmac.String</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
	       Generates a MAC string with a specific store's current key.
        </info>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>storeid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
   	</tag>
     <tag>
		<name>transactserver</name>
		<tagclass>com.openmarket.cscommerce.jsp.csmac.Transactserver</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
	       Returns a string with the form protocol://hostname:port that is the URL prefix of the configured Transact.
        </info>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
  		<attribute>
			<name>protocol</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
   	</tag>

   </taglib>
