<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
        "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>acl</shortname>
	<info>A tag library for Content Server directory access methods.</info>
	<tag>
		<name>addattrs</name>
		<tagclass>com.openmarket.directory.jsp.dir.AddAttrs</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>
			Adds attributes to existing entries. 
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>addgroupmember</name>
		<tagclass>com.openmarket.directory.jsp.dir.AddGroupMember</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Adds a member to a group, but does not add a child to a group.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>member</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>argument</name>
		<tagclass>com.openmarket.framework.jsp.Argument</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Child tag which defines an arbitrary name/value pair available to the parent dir tag.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>children</name>
		<tagclass>com.openmarket.directory.jsp.dir.Children</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Retrieves the immediate child entries of the specified parent. 
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>create</name>
		<tagclass>com.openmarket.directory.jsp.dir.Create</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>
			Creates a directory entry.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>defaults</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>delete</name>
		<tagclass>com.openmarket.directory.jsp.dir.Delete</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Deletes a directory entry.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>getattrs</name>
		<tagclass>com.openmarket.directory.jsp.dir.GetAttrs</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Retrieves the attributes of a specified entry.
		</info>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>attrs</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>groupmembers</name>
		<tagclass>com.openmarket.directory.jsp.dir.GroupMembers</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Lists all members of the specified group.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>groupmemberships</name>
		<tagclass>com.openmarket.directory.jsp.dir.GroupMemberships</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Lists all groups to which a specified entry belongs.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>listusers</name>
		<tagclass>com.openmarket.directory.jsp.dir.ListUsers</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Returns a list of all ancestors to the property CS.Property.dir.peopleParent.
		</info>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>commonancestor</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>removeattrs</name>
		<tagclass>com.openmarket.directory.jsp.dir.RemoveAttrs</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>
			Deletes the specified attribute from the specified entry.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>removegroupmember</name>
		<tagclass>com.openmarket.directory.jsp.dir.RemoveGroupMember</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Removes a member from a group.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>member</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>replaceattrs</name>
		<tagclass>com.openmarket.directory.jsp.dir.ReplaceAttrs</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>
			Replaces the existing attribute values with the specified values.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>search</name>
		<tagclass>com.openmarket.directory.jsp.dir.Search</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>
			Searches for entries matching the specified attributes.
		</info>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>context</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>operator</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
</taglib>
