<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
        "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>emailmanager</shortname>
	<info>A tag library for Content Centre EmailManager methods.</info>
	<tag>
		<name>create</name>
		<tagclass>com.openmarket.xcelerate.jsp.emailmanager.Create</tagclass>
		<info>
			Creates an e-mail manager object.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>load</name>
		<tagclass>com.openmarket.xcelerate.jsp.emailmanager.Load</tagclass>
		<info>
			Loads the e-mail manager object. 
		</info>
		<attribute>
			<name>name</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>save</name>
		<tagclass>com.openmarket.xcelerate.jsp.emailmanager.Save</tagclass>
		<info>
			Saves the e-mail manager object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getall</name>
		<tagclass>com.openmarket.xcelerate.jsp.emailmanager.Getall</tagclass>
		<info>
			Gets all available e-mail manager objects.
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>delete</name>
		<tagclass>com.openmarket.xcelerate.jsp.emailmanager.Delete</tagclass>
		<info>
			Deletes an e-mail with specified ID.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

</taglib>
