<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
        "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>flexgroup</shortname>
	<info>A tag library for CatC flexgroup object methods.</info>
 	<tag>
		<name>argument</name>
		<tagclass>com.openmarket.framework.jsp.Argument</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Child tag which defines an arbitrary name/value pair available to the parent tag.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
    <tag>
		<name>getattribute</name>
		<tagclass>com.openmarket.gator.jsp.flexgroup.Getattribute</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			This operation retrieves the values of a specified attribute for an asset instance.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 		<attribute>
			<name>listvarname</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
   	</tag>
    <tag>
		<name>setattribute</name>
		<tagclass>com.openmarket.gator.jsp.flexgroup.Setattribute</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
		   This method sets a specified attribute in an instance to a list of values.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 		<attribute>
			<name>list</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
   	</tag>
    <tag>
		<name>setcgiattribute</name>
		<tagclass>com.openmarket.gator.jsp.flexgroup.Setcgiattribute</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			This method sets a specified URL-type attribute.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
   	</tag>
    <tag>
		<name>setsingleattribute</name>
		<tagclass>com.openmarket.gator.jsp.flexgroup.Setsingleattribute</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			This operation retrieves the values of a specified attribute for an asset instance.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>cgi</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

   	</tag>
 </taglib>
 

 
