<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
        "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>mail</shortname>
	<info>A tag library for ContentServer Framework mail methods.</info>
	<tag>
		<name>send</name>
		<tagclass>com.openmarket.framework.jsp.mail.Send</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>
			Sends an email.
		</info>
		<attribute>
			<name>from</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>to</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>subject</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>replyto</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>body</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>contenttype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>charset</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>attachment</name>
		<tagclass>com.openmarket.framework.jsp.mail.Attachment</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Mail attachment tag.
		</info>
    		<attribute>
      		<name>name</name>
      		<required>false</required>
      		<rtexprvalue>true</rtexprvalue>
    		</attribute>
    		<attribute>
			<name>value</name>
    			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
    		</attribute>
	</tag>

</taglib>
