<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
        "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>vdm</shortname>
	<info>A tag library for VDM object methods.</info>
 	<tag>
		<name>argument</name>
		<tagclass>com.openmarket.framework.jsp.Argument</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Child tag which defines an arbitrary name/value pair available to the parent tag.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>setscalar</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Setscalar</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Saves data into a visitor-specific scalar data asset.</info>
		<attribute>
			<name>attribute</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 	</tag>
    <tag>
		<name>recordhistory</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Recordhistory</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Saves a time-stamped history record for the current visitor.</info>
		<attribute>
			<name>attribute</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 	</tag>
    <tag>
		<name>gethistoryearliest</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Gethistoryearliest</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Retrieves a value for the current visitor.</info>
		<attribute>
			<name>attribute</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>startdate</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
         <attribute>
			<name>enddate</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>list</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 	</tag>
    <tag>
		<name>gethistorylatest</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Gethistorylatest</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Retrieves the number of history records that match the specified criteria.</info>
		<attribute>
			<name>attribute</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>startdate</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
         <attribute>
			<name>enddate</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>list</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
  	</tag>
 	<tag>
		<name>getscalar</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Getscalar</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Retrieves a specific single (scalar) visitor attribute for the current visitor.</info>
		<attribute>
			<name>attribute</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 	</tag>
        <tag>
		<name>gethistorycount</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Gethistorycount</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Retrieves the number of history records that match the specified criteria.</info>
		<attribute>
			<name>attribute</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>startdate</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
         <attribute>
			<name>enddate</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>list</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
  	</tag>
        <tag>
		<name>gethistorysum</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Gethistorysum</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Sums the entries in a specific field for the specified history type.</info>
		<attribute>
			<name>attribute</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>startdate</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
         <attribute>
			<name>enddate</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>list</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
   	</tag>
  	<tag>
		<name>getalias</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Getalias</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Obtains the alias string for the current visitor, given the alias key</info>
		<attribute>
			<name>key</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 	</tag>
    <tag>
		<name>setalias</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Setalias</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Sets the alias string for the current visitor for a specified alias key.</info>
		<attribute>
			<name>key</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 	</tag>
     <tag>
		<name>getcommerceid</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Getcommerceid</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Gets the commerce identifier for the current visitor, if any.</info>
    	<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 	</tag>
     <tag>
		<name>setcommerceid</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Setcommerceid</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Sets or clears the commerce identifier for the current visitor.</info>
    	<attribute>
			<name>id</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 	</tag>
     <tag>
		<name>getaccessid</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Getaccessid</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Gets the access identifier for the current visitor, if any.</info>
		<attribute>
			<name>key</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 	</tag>
     <tag>
		<name>setaccessid</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Setaccessid</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Sets or clears the access identifier for the current visitor.</info>
		<attribute>
			<name>key</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 	</tag>
     <tag>
		<name>savescalarobject</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Savescalarobject</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Saves an object to the Content Server database as a visitor attribute.</info>
		<attribute>
			<name>attribute</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 	</tag>
    <tag>
		<name>loadscalarobject</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Loadscalarobject</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Retrieves an object stored as a single (scalar) visitor attribute.</info>
		<attribute>
			<name>attribute</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
 	</tag>
    <tag>
		<name>flushinactive</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Flushinactive</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Removes unused data recorded for visitors.</info>
		<attribute>
			<name>startdate</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
    </tag>
    <tag>
		<name>mergeinactive</name>
		<tagclass>com.openmarket.gator.jsp.vdm.Mergeinactive</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Merges old data recorded for visitors.</info>
		<attribute>
			<name>startdate</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
    </tag>
 </taglib>
