<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
	PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
		"http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>webservices</shortname>
	<info>A tag library for consuming web services.</info>	
    <tag> 
        <name>parameter</name> 
        <tagclass>com.divine.ws.jsp.WebServicesArgument</tagclass> 
        <bodycontent>empty</bodycontent> 
        <info> 
            Child tag which defines an arbitrary name/value pair available to the parent webservices tag.
        </info> 
        <attribute> 
            <name>type</name> 
            <required>true</required> 
            <rtexprvalue>true</rtexprvalue> 
        </attribute> 
        <attribute> 
            <name>value</name> 
            <required>true</required> 
            <rtexprvalue>true</rtexprvalue> 
        </attribute> 
    </tag> 
    <tag> 
        <name>invoke</name> 
        <tagclass>com.divine.ws.jsp.WebServices</tagclass> 
        <bodycontent>JSP</bodycontent> 
        <info> 
            Invokes a web service. 
        </info> 
        <attribute> 
            <name>wsdl</name> 
            <required>true</required> 
            <rtexprvalue>true</rtexprvalue> 
        </attribute> 
        <attribute> 
            <name>target</name> 
            <required>true</required> 
            <rtexprvalue>true</rtexprvalue> 
        </attribute> 
        <attribute> 
            <name>service</name> 
            <required>true</required> 
            <rtexprvalue>true</rtexprvalue> 
        </attribute> 
        <attribute> 
            <name>port</name> 
            <required>true</required> 
            <rtexprvalue>true</rtexprvalue> 
        </attribute> 
        <attribute> 
            <name>operation</name> 
            <required>true</required> 
            <rtexprvalue>true</rtexprvalue> 
        </attribute> 
        <attribute> 
            <name>object</name> 
            <required>true</required> 
            <rtexprvalue>true</rtexprvalue> 
        </attribute> 
    </tag> 
</taglib>
