<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
        "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>workflowtimedactionlist</shortname>
	<info>A tag library for Content Centre workflow timed action list methods.</info>
	<tag>
		<name>scatter</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowtimedactionlist.Scatter</tagclass>
		<info>
			Retrieves all fields of a loaded workflow timed action list object and "scatters" their values into individual variables sharing a common prefix.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>gather</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowtimedactionlist.Gather</tagclass>
		<info>
			Retrieves name/value pairs from the environment, and sets them into a workflow timed action list loaded object. The name/value pairs are grouped together using a prefix and a prefix separator.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>Getalltimedactions</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowtimedactionlist.Getalltimedactions</tagclass>
		<info>
			Gets all timed actions in the specified workflow timed action list.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>create</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowtimedactionlist.Create</tagclass>
		<info>
			Creates a workflow timed action list.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>cleartimedactions</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowtimedactionlist.Cleartimedactions</tagclass>
		<info>
			Clears timed actions from the workflow timed action list.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>addtimedaction</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowtimedactionlist.Addtimedaction</tagclass>
		<info>
			Adds a timed action to the workflow timed action list.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>removetimedaction</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowtimedactionlist.Removetimedaction</tagclass>
		<info>
			Removes a timed action from the workflow timed action list.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

</taglib>
