<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
        "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>workflowengine</shortname>
	<info>A tag library for Content Centre Workflow methods.</info>
	<tag>
		<name>createnewprivs</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Createnewprivs</tagclass>
		<info>
			Creates a new privileges object.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getobjectprivs</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getobjectprivs</tagclass>
		<info>
			Gets the access permissions of the specified workflowable object (usually a workflow asset object) in the form of a workflow privileges object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>setobjectprivs</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Setobjectprivs</tagclass>
		<info>
			Sets the permissions of the specified workflowable object (usually a workflow asset object) with provided workflow privileges object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>privs</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>abstainfromvoting</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Abstainfromvoting</tagclass>
		<info>
			Allows a user to abstain from voting.
		</info>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>comment</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>addnewobjecttogroup</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Addnewobjecttogroup</tagclass>
		<info>
			Adds a new workflow asset object to a workflow group.
		</info>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>comment</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>deadline</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>assignmentlist</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>addobjecttogroup</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Addobjecttogroup</tagclass>
		<info>
			Adds a workflow asset object to a workflow group.
		</info>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>assigntoself</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Assigntoself</tagclass>
		<info>
			Assigns a workflow asset object to self. Asset must already be in a workflow and not assigned to anyone.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>comment</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>deadline</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>cancelassignment</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Cancelassignment</tagclass>
		<info>
			Cancels the specified assignment.
		</info>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>comment</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>candeletegroup</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Candeletegroup</tagclass>
		<info>
			Verifies whether the current user can delete workflow group.
		</info>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>caneditgroup</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Caneditgroup</tagclass>
		<info>
			Verifies whether the current user can edit workflow group. 
		</info>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>canstartworkflow</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Canstartworkflow</tagclass>
		<info>
			Verifies whether the current user can start the specified workflow process.
		</info>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>checkprocessactive</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Checkprocessactive</tagclass>
		<info>
			Checks whether the specified workflow process is active.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>closeassignments</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Closeassignments</tagclass>
		<info>
			Cancels all assignments for a workflow asset object and removes the asset from workflow.
		</info>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>comment</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>completeassignment</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Completeassignment</tagclass>
		<info>
			Completes a workflow assignment and moves workflow asset to the next state of its workflow process.
		</info>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>action</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>nextstep</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>comment</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>deadline</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>assignmentlist</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>createnewassignmentaction</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Createnewassignmentaction</tagclass>
		<info>
			Creates a new assignment action. The assignment is an association between an asset and a user.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>createnewcondition</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Createnewcondition</tagclass>
		<info>
			Creates a new condition.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>createnewdeadlockaction</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Createnewdeadlockaction</tagclass>
		<info>
			Creates a new deadlock action.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>createnewdelegateaction</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Createnewdelegateaction</tagclass>
		<info>
			Creates a new delegate action.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>createnewfunction</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Createnewfunction</tagclass>
		<info>
			Creates a new function.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>createnewgroup</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Createnewgroup</tagclass>
		<info>
			Creates a new group.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>createnewgroupaction</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Createnewgroupaction</tagclass>
		<info>
			Creates a new group action.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>createnewprocess</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Createnewprocess</tagclass>
		<info>
			Creates a new workflow process.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>createnewstate</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Createnewstate</tagclass>
		<info>
			Creates a new workflow state.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>createnewstepaction</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Createnewstepaction</tagclass>
		<info>
			Creates a new step action.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>delegateassignment</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Delegateassignment</tagclass>
		<info>
			Delegates a workflow assignment to a workflow participant.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>delegatedto</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>comment</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>deleteassignmentactionid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Deleteassignmentactionid</tagclass>
		<info>
			Deletes the assignment action with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>deleteconditionid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Deleteconditionid</tagclass>
		<info>
			Deletes the condition with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>deletedeadlockactionid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Deletedeadlockactionid</tagclass>
		<info>
			Deletes the deadlock action with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>deletedelegateactionid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Deletedelegateactionid</tagclass>
		<info>
			Deletes the delegate action with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>deletefunctionid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Deletefunctionid</tagclass>
		<info>
			Deletes the function with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>deletegroupactionid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Deletegroupactionid</tagclass>
		<info>
			Deletes the group action with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>deletegroupid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Deletegroupid</tagclass>
		<info>
			Deletes the group with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>deleteprocessid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Deleteprocessid</tagclass>
		<info>
			Deletes the workflow process with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>deletestateid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Deletestateid</tagclass>
		<info>
			Deletes the workflow state with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>deletestepactionid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Deletestepactionid</tagclass>
		<info>
			Deletes the step action with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>deleteworkflowhistory</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Deleteworkflowhistory</tagclass>
		<info>
			Deletes workflow history.
		</info>
	</tag>

	<tag>
		<name>executetimedactions</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Executetimedactions</tagclass>
		<info>
			Executes all timed actions that are due, and removes them from the queue.
		</info>
	</tag>

	<tag>
		<name>getabsdeadline</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getabsdeadline</tagclass>
		<info>
			Gets the absolute deadline of the specified workflow process.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getaddobjecttogroupcandidateassignees</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getaddobjecttogroupcandidateassignees</tagclass>
		<info>
			Gets a list of potential workflow participants, if the workflow process has a "Choose assignee when step is taken" assignment method for the Start Step.
		</info>
		<attribute>
			<name>object</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>getallfunctions</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getallfunctions</tagclass>
		<info>
			Get all existing functions.
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getallprocesses</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getallprocesses</tagclass>
		<info>
			Get all existing matching processes.
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>pubid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>assettype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getallstates</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getallstates</tagclass>
		<info>
			Get all available states.
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getallstatesforprocess</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getallstatesforprocess</tagclass>
		<info>
			Get all states for the specified workflow process.
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>process</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getassignmentactionid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getassignmentactionid</tagclass>
		<info>
			Gets the assignment action with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getassignmentactionname</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getassignmentactionname</tagclass>
		<info>
			Gets the assignment action with the specified name.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>getassignmentid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getassignmentid</tagclass>
		<info>
			Gets the assignment with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getavailableassignmentactions</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getavailableassignmentactions</tagclass>
		<info>
			Get all available assignment actions.
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getavailableconditions</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getavailableconditions</tagclass>
		<info>
			Get all available conditions.
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getavailabledeadlockactions</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getavailabledeadlockactions</tagclass>
		<info>
			Get all available deadlock actions.
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getavailabledelegateactions</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getavailabledelegateactions</tagclass>
		<info>
			Get all available delegate actions.
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getavailablegroupactions</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getavailablegroupactions</tagclass>
		<info>
			Get all available group actions.
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getavailablegroups</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getavailablegroups</tagclass>
		<info>
			Get all available groups.
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
                <name>pubid</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
                <name>groupids</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
        </attribute>
	</tag>

	<tag>
		<name>getavailablestepactions</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getavailablestepactions</tagclass>
		<info>
			Get all available step actions.
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getblockingreason</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getblockingreason</tagclass>
		<info>
			Gets the reason why the asset cannot move to the next state.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>nextstep</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>getcompleteassignmentcandidateassignees</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getcompleteassignmentcandidateassignees</tagclass>
		<info>
			Gets a list of potential workflow partitipants who can complete the assignment if the workflow process has "Choose assignee when step is taken" for the last step.
		</info>
		<attribute>
			<name>id</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>nextstep</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>getconditionid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getconditionid</tagclass>
		<info>
			Gets the condition with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getconditionname</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getconditionname</tagclass>
		<info>
			Gets the condition with the specified name.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getdeadlockactionid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getdeadlockactionid</tagclass>
		<info>
			Gets the deadlock action with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getdeadlockactionname</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getdeadlockactionname</tagclass>
		<info>
			Gets the deadlock action with the specified name.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getdelegateactionid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getdelegateactionid</tagclass>
		<info>
			Gets the delegate action with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getdelegateactionname</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getdelegateactionname</tagclass>
		<info>
			Gets the delegate action with the specified name.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getdelegateecandidates</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getdelegateecandidates</tagclass>
		<info>
			Get workflow participants who are the potential recipients of an assignment.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>listvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>getfilteredassignments</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getfilteredassignments</tagclass>
		<info>
			Gets filtered workflow assignments based on specified criteria.
		</info>
        <attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>site</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objectprefix</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>limitassigneeroles</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>processstatus</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>notprocessstatus</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>status</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>notstatus</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>disposition</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>stateid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>groupid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>notgroupid</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>assignedto</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>notassignedto</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>assignedby</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>disposer</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>assigneddatebefore</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>assigneddateafter</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>disposeddatebefore</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>disposeddateafter</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>overdue</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>overduemins</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>processoverdue</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>processoverduemins</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>deadlocked</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>process</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>descending</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>sortstyle</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
        <attribute>
			<name>excludecomments</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getfunctionid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getfunctionid</tagclass>
		<info>
			Gets the function with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getfunctionname</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getfunctionname</tagclass>
		<info>
			Gets the function with the specified name.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getgroupactionid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getgroupactionid</tagclass>
		<info>
			Gets the group action with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getgroupactionname</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getgroupactionname</tagclass>
		<info>
			Gets the group action with the specified name.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getgroupid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getgroupid</tagclass>
		<info>
			Gets the group with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getgroupmembers</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getgroupmembers</tagclass>
		<info>
			Gets the members of the workflow group with the specified id.
		</info>
		<attribute>
			<name>groupid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getgroupmembership</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getgroupmembership</tagclass>
		<info>
			Gets the id of the group to which the specified workflow asset object belongs.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>getgroupname</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getgroupname</tagclass>
		<info>
			Gets the group with the specified name.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getlegalnextworkflowsteps</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getlegalnextworkflowsteps</tagclass>
		<info>
			Gets all workflow steps that can be taken next.
		</info>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>role</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>getmultisiteprocesses</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getmultisiteprocesses</tagclass>
		<info>
			Gets workflow processes based on specified site ids.
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>pubids</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>assettype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>getobjecthistory</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getobjecthistory</tagclass>
		<info>
			Gets the assignment history of the specified workflow asset object.
		</info>
		<attribute>
			<name>prefix</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getobjectparticipants</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getobjectparticipants</tagclass>
		<info>
			Gets the participants for the specified workflow asset object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getpotentialparticipants</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getpotentialparticipants</tagclass>
		<info>
			Get potential participants for the specified workflow process.
		</info>
		<attribute>
			<name>object</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>process</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getobjectstateid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getobjectstateid</tagclass>
		<info>
			Gets the workflow state id of the specified workflow object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>getprocessid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getprocessid</tagclass>
		<info>
			Gets the workflow process with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getprocessname</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getprocessname</tagclass>
		<info>
			Gets the workflow process with the specified name.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getstartworkflowcandidateassignees</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getstartworkflowcandidateassignees</tagclass>
		<info>
			Gets the workflow assignees if the process has an "ask" type start step.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getstateid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getstateid</tagclass>
		<info>
			Gets the state with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getstatename</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getstatename</tagclass>
		<info>
			Gets the state with the specified name.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getstepactionid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getstepactionid</tagclass>
		<info>
			Gets the step action with the specified id.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getstepactionname</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getstepactionname</tagclass>
		<info>
			Gets the step action with the specified name.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getstepid</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getstepid</tagclass>
		<info>
			Gets the step with the specified id.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>isfunctionlegal</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Isfunctionlegal</tagclass>
		<info>
			Verifies whether the current user on the specified site is allowed to execute the specified function.
		</info>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>reasonvarname</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>site</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>role</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>functionname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>mustbeassigned</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>isinitialdeadlineallowed</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Isinitialdeadlineallowed</tagclass>
		<info>
			Verifies whether initial deadline is allowed for process.
		</info>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>process</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>isobjectassigned</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Isobjectassigned</tagclass>
		<info>
			Verifies whether the specified workflow asset object is assigned to a user.
		</info>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>isobjectassignedtogroup</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Isobjectassignedtogroup</tagclass>
		<info>
			Verifies whether the specified workflow asset object is assigned to a group.
		</info>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>isobjectassignedtouser</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Isobjectassignedtouser</tagclass>
		<info>
			Verifies whether the specified workflow asset object is assigned to the specified user.
		</info>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>assignedto</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>isobjectdeadlocked</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Isobjectdeadlocked</tagclass>
		<info>
			Verifies whether the workflow asset object is in a deadlock.
		</info>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>newparticipants</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Newparticipants</tagclass>
		<info>
			Creates a new participants object.
		</info>
		<attribute>
			<name>objvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>removeobjectfromgroup</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Removeobjectfromgroup</tagclass>
		<info>
			Removes the specified workflow asset object from the group.
		</info>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>setabsdeadline</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Setabsdeadline</tagclass>
		<info>
			Sets the absolute deadline of the specified workflow process.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>absdeadline</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>setassignmentaction</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Setassignmentaction</tagclass>
		<info>
			Saves an assignment action object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>setassignmentdeadline</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Setassignmentdeadline</tagclass>
		<info>
			Sets the deadline of the workflow assignment.
		</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>deadline</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>setcondition</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Setcondition</tagclass>
		<info>
			Saves a workflow condition object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>setdeadlockaction</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Setdeadlockaction</tagclass>
		<info>
			Saves a deadlock action object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>setdelegateaction</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Setdelegateaction</tagclass>
		<info>
			Saves a delegate action object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>setfunction</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Setfunction</tagclass>
		<info>
			Saves a workflow function object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>setgroup</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Setgroup</tagclass>
		<info>
			Saves a workflow group.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>setgroupaction</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Setgroupaction</tagclass>
		<info>
			Saves a group action object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>setobjectparticipants</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Setobjectparticipants</tagclass>
		<info>
			Sets the participants for a workflow asset object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>participants</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

	</tag>

	<tag>
		<name>setprocess</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Setprocess</tagclass>
		<info>
			Saves a workflow process object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>setstate</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Setstate</tagclass>
		<info>
			Saves a workflow state object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>setstepaction</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Setstepaction</tagclass>
		<info>
			Saves a step action object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>startobjectworkflowprocess</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Startobjectworkflowprocess</tagclass>
		<info>
			Starts the workflow process for the specified workflow asset object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>site</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>comment</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>assignmentlist</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>deadline</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>absdeadline</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>participants</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>


	</tag>

	<tag>
		<name>getobjectworkflows</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getobjectworkflows</tagclass>
		<info>
			Gets active workflow processes based on the specified workflow object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>listvarname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<name>getobjectworkflowprocess</name>
		<tagclass>com.openmarket.xcelerate.jsp.workflowengine.Getobjectworkflowprocess</tagclass>
		<info>
			Gets the workflow process id for the specified workflow asset object.
		</info>
		<attribute>
			<name>object</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

</taglib>
