body { 
	font-size: 13px;
	font-family: Tahoma,Verdana,Geneva,sans-serif;
	background-color: #fff;
	padding: 0;
	margin: 0;
}

form {
	margin:0;
	padding: 0;
}
.alert-color {
	color: #c00;
}
.warn-color {
	color: #f60;
}
.copyright-text {
	color: #999;
	font-size: 11px;
	line-height: 150%; 
}
/* .select - too many styles . need to refactor? */
.select {
	border: 0 none;
	color: inherit;
	font: inherit;
	margin: 0;
	padding: 0;
	float: none !important;
	overflow: hidden;
	position: relative;
	vertical-align: middle;

	background-color: #FFFFFF;
	border-color: #CDCDCD -moz-use-text-color #FFFFFF #F3F3F3;
	border-style: solid none solid solid;
	border-width: 1px 0 1px 1px;
	font-size: 12px;
	height: 18px;
	padding-left: 3px;
	padding-top: 3px;
    left: 6px;
    margin-left: -6px;
    margin-top: -1px;
}

.selectbox {
	min-width:150px;
}

.actionBarBtn{
	padding:0 5px 0 0;
}

.dark-line-color { 
	border-bottom: 1px solid #b9b9b9;
	clear: both;
	color: #9e9e9e;
	font-size: 12px;
	font-weight: bold;
}
.default-text {
	font-size: 12px;
	font-family: Tahoma,Verdana,Geneva,sans-serif;
}
.form-label-text { 
	font-family: Tahoma,Verdana,Geneva,sans-serif;
	font-weight: bold; 
	font-size: 12px;
	line-height: 22px;
	padding: 0 20px 0 20px;
	text-align: right;
	white-space: nowrap;
    clear: both;
	color: #3e3e3e;
	width: 100px;
	vertical-align: top;
}
.light-line-color {
	border-bottom: 1px dashed #b9b9b9;
	clear: both;
	color: #9e9e9e;
	font-size: 12px;
	font-weight: bold;
}
.light-text-color { color: #666; }
.message-bg-color { background-color: #ffffe0; }
.site-user-role-text {
	font-size: 11px;
	font-family: Tahoma,Verdana,Geneva,sans-serif;
}
.small-text {
	font-size: 12px;
	font-family: Tahoma,Verdana,Geneva,sans-serif;
}
.subtitle-text {
	font-weight: bold;
	font-size: 12px;
	vertical-align:top;
}
.table-header-small-text { font-size: 11px; }
.table-header-text { font-size: 12px; }

.padding20{
	padding:20px;
}

.width-outer-90 {
	width:90%;
	min-width:700px;
	margin:15px 0 0 15px;
}

.width-outer-70 {
	width:70%;
	min-width:600px;
	margin:15px 0 0 15px;
}

.width70BottomExMargin {
	width:70%;
	margin:15px 0 0 15px;
	padding-bottom:100px;
	display: none;	/*	TabContainer is not rendering properly in IE8 specificaly, to fix that display none when form loads	*/
}

/*	TabContainer is not rendering properly in IE8 specificaly, to fix that display inline after form loads	*/
.fw .formsTabContainer .width70BottomExMargin,
/*	If there is no TabContainer */
.fw .dijitContentPane .width70BottomExMargin {
	display: table;
}

.width-outer-50 {
	width:50%;
	min-width:500px;
	margin:15px 0 0 15px;
}
.width-outer-30 {
	width:30%;
	min-width:400px;
	margin:15px 0 0 15px;
}

.width-inner-100 {
	width:100%;
}

.sortable{
	cursor: pointer;
}

td { 	
	line-height: 2;	
	font-family: Tahoma,Verdana,Geneva,sans-serif;
    font-size: 12px;
}

.tile-border {
	background-color: #669;
}
.tile-solid {
	background-color: #669;
	border-left: 1px solid #99c;
	border-right: 1px solid #336;
	border-bottom: 1px solid #336;
	border-top: 1px solid #99c;
}
.tile-a {} /* need to remove? */
.tile-b {
	font-family: Verdana,geneva,sans-serif;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}
.tile-c {} /* need to remove? */
.tile-highlight {
	height: 0;
	background: url('../../../graphics/common/screen/top_shadow.png') repeat-x;
}
.inset {
	margin-top: 4px;
	margin-bottom: 4px;
	font-family: Verdana,geneva,sans-serif;
	font-size: 11px;
}
.small-text-inset {
	margin-top: 4px; 
	margin-bottom: 4px; 
	font-family: Tahoma,Verdana,Geneva,sans-serif; 
	font-size: 12px;
	white-space: nowrap;
}
.new-table-title {
	font-family: Tahoma,Verdana,Geneva,sans-serif;
 	color: #fff;
	font-weight: bold;
	font-size: 11px; 
	text-decoration: none;
	white-space: nowrap;
}
.tile-row-preview-highlight {
	background-color: #6785B7;
	color: #fff;
	font-family: Arial;
}
.tile-row-highlight { background-color: #f7f8fa; }
.tile-row-normal { background-color: #fff; }
.tile-dark {
	background-color: #336;
	background: #797979
}
.tile-rule { background-color: #d0d0d0; }
.box {
	background: #fff;
	border: 1px solid #3f3;
	margin: 0;
	padding: 0
}

.form-inset {
	margin: 4px 8px 8px 4px;
	font-size: 12px;
	color: #333;
	vertical-align: top;
}
.form-label-inset {
	font-weight: bold; 
	font-size: 12px; 
	font-family: Tahoma,Verdana,Geneva,sans-serif; 
	color: #333; 
	margin: 4px 20px 8px 4px;
}
.form-shade { background-color: #f7f8fa; }
.disabled-text { color: #666; }

/* style for table header */
.section-header td {
	border-bottom: 2px solid #336;
	background: #97afd6 url('../../../graphics/common/screen/grad.gif') repeat-x;
	height: 18px;
}
.section-header td div,
a.link-header:link,
a.link-header:hover,
a.link-header:visited,
a.link-header:active {
	margin-top: 2px;
	height: 18px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
/* [KGF]
   utility class to facilitate non-standard <wbr> tag's behavior.
   Usage: <span class="wbr"> </span>
*/
span.wbr { font-size: 0; }

/* [KGF] added for scheduled publish event detail table */
div.eventtip {
	background-color: #fff;
	border: 1px solid #b3b3b3;
	padding: 4px;
	clear: both;
}
table.eventdetail td {
    vertical-align: top;
    padding: 4px 0;
}
table.eventdetail td.label {
    font-weight: bold;
    padding-right: 8px;
}
a.column-title:link,
a.column-title:visited,
a.column-title:active { 
  color: #fff;
  text-decoration: none;
} 
a.column-title:hover { 
  color: #fff;
  text-decoration: underline;
} 

.textPadding {
	padding-left:13px;
	width:453px;
	height:27px;
}
.header-color {
	background: url('../../../graphics/common/screen/inner_bg_header.png') repeat-x;
	clear: both;
	color: #9E9E9E;
	font-size: 12px;
	font-weight: bold;
}
.table-header-title {
	font-family: Tahoma,Verdana,Geneva,sans-serif; 
	font-weight : bold;
	font-size : 11px; 
	text-decoration: none;
	color:#585757;
	padding:0 5px 0 10px;
	border-right:1px solid #dddddd; 
}
.middle-row-title {
	background-color:#dbdedf;
	font-family: Tahoma,Verdana,Geneva,sans-serif; 
	font-weight:normal;
	font-size : 11px;
	
}
.text-highlight {
	font-family: Tahoma,Verdana,Geneva,sans-serif; 
	font-weight:normal;
	font-size : 11px;
	color:#4a91b8;
}
.border-right {
	border-right: 1px solid #ddd;
	padding:0 5px 0 10px;
}
.border-right-none {
	border-right:none;
}
table.middle {
	width:100%;
	margin:0 0 0 50px;
}
/* inner table */
.inner-background{
	background:url('../../../graphics/common/screen/grad_inner.gif') repeat-x;
}
.inner-background-top{
	background:url('../../../graphics/common/screen/top_header_shadow.png') repeat-x;
}
.inner-background-below{
	background:url('../../../graphics/common/screen/top_shadow.png') repeat-x;
}
.inner-background-right{
	background:url('../../../graphics/common/screen/right_shadow.png') repeat-y;
}
/* header table */
.header-background{
	background:url('../../../graphics/common/screen/grad.gif') repeat-x;
}
.header-background-top{
	background:url('../../../graphics/common/screen/top_header_shadow.png') repeat-x;
}
.header-background-below{
	background:url('../../../graphics/common/screen/top_shadow.png') repeat-x;
}
.header-background-right{
	background:url('../../../graphics/common/screen/right_shadow.png') repeat-y;
}
.header-tile-dark {
	background-color: #336;
	 background: #797979;
}


/* messages */

.message-info {
	border:1px solid #b6b6b6;
	background-color:#edfee3;
	color:#323232;
	font-size:12px;
	min-height:33px;
	position:relative;
	padding:5px;
}
.message-error {
	border:1px solid #b6b6b6;
	background-color:#fff6f7;
	color:#323232;
	font-size:12px;
	min-height:33px;
	position:relative;
	padding:5px;
}
.message-warning {
	border:1px solid #b6b6b6;
	background-color:#fefcea;
	color:#323232;
	font-size:12px;
	min-height:33px;
	position:relative;
	padding:5px;
}
.message-feedback {
	border:1px solid #b6b6b6;
	background-color:#eef7fd;
	color:#323232;
	font-size:12px;
	min-height:33px;
	position:relative;
	padding:5px;
}
.icon-img {
	position: absolute;
	top: 15px;
	left: 15px;
}

.msg-txt {
	overflow: hidden;
	margin: 11px 36px 13px 40px;
	line-height: normal;
}
.msg-txt p {
	margin: 0;
}
.close-img {
    background-image: url("../../../graphics/common/msg/deactive.png");
    background-repeat: no-repeat;
    cursor: pointer;
    position:absolute;
	top:19px;
	right:10px;
	width:10px;
	height:10px;
}
.close-img:hover {
    background-image: url("../../../graphics/common/msg/active.png");
	text-decoration: none;
    cursor: pointer;
}

/*Button CSS Start*/
.button-left {
	width:10px;
	height:26px;
	background: url('../../../graphics/en_US/button/images/button_left.png') no-repeat;
	cursor:pointer;
	float:left;
}
.button-middle {
	width:auto;
	height:26px;
	background: url('../../../graphics/en_US/button/images/button_middle.png') repeat-x;
	cursor:pointer;
	float:left;
}
.button-right {
	width:13px;
	height:26px;
	background: url('../../../graphics/en_US/button/images/button_right.png') no-repeat;
	cursor:pointer;
	float:left;
}
.button-text {
	color:#fff;
	font-family: Tahoma,Verdana,Geneva,sans-serif;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	line-height:23px;
	text-decoration:none;
	float:left;
	min-width: 50px;
}
.button-sign {
	color:#fff;
	font-family: Tahoma,Verdana,Geneva,sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	line-height:22px;
	text-decoration:none;
	float:left;
	margin: 0 5px 5px 0;
}

.button-maindiv {
	clear: both;
}

.fw  .calButton  .dijitButtonNode {
    border: 0;
    line-height: normal;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.calButton {
	display: table-cell;
	margin: 0 5px 10px 0;
	vertical-align: middle;
}
.inline-left{
	display:inline; 
	float:left;
	margin: 0 5px 5px 0;
}
.inline-right{
	display:inline; 
	float:right;
}
.aline-height{
	line-height:2px;
}
a.button-anchor { 
	display: inline-block;
}
a.button-anchor:hover {
 color:#fff;
 text-decoration:none;
}
/*Button CSS End*/
/*disable links in notSupported assetType in UCForm*/
a.disableLink:link{
	cursor: default;
	color: black;
}
a.disableLink:active{
	cursor: default;
	color: black;
}
a.disableLink:hover{
	cursor: default;
	text-decoration: none;
	color: black;
}
a.disableLink:visited{
	cursor: default;
	color: black;
}

/* scrollable select box */
.scrollable{
	width: 200px;
	border: 1px solid silver;
	overflow-x: scroll;
	overflow-y: hidden;
}
.scrollable select{
	border: none;
	overflow:auto;
	min-width: 200px;
	margin: 0;
}


/*Style for the legacy actionbar*/
.legacyAbar{
	padding:10px;
}

.margin-top-zero{
	margin-top: 0;
}

a.topBar:link,
a.topBar:visited,
a.topBar:hover,
a.topBar:focus,
a.topBar:active {
	color: #fff;
	font-size: 11px;
}

.mulValTFieldDisplay{
	border: 1px solid #E6E6E6;
    display: inline-block;
    float: left;
    font-family: Tahoma,Verdana,Geneva,sans-serif;
    font-size: 12px;
	line-height: 13.5px;
    margin: 6px 0;
    overflow: hidden;
	padding: 5px;
	height:13px;
	width:210px;
	background-color: #F9F9F9;
}

.disabledEditText{
	color: #aaa;
}

.disabledText{
	color: #aaa;
	font-style:italic;
}

.fw .small-text-box .UIInput{	
	width :60px;
}

.fw .small-text-box .UIComboBox{	
	width :60px;
}

.fw .medium-text-box .UIComboBox{	
	width :75px;
}

.fw .large-text-box .UIComboBox{	
	width :130px;
}

.div-hidden{
	white-space:nowrap;
	visibility:hidden;
	height:0;
	min-width:80px;
}
.AdvForms .UIComboBox{
	margin: 0 5px 0 0;
}

textarea {
	font-family:Tahoma,Verdana,Geneva,sans-serif;
	font-size: 12px;
	line-height: 19px;
}

.bordercontainer{
	position:absolute !important;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.form-label-italic-text{
	font-style: italic; 	
	font-weight: bold; 
	font-size: 12px;
	line-height: 22px;
	padding: 0 20px 0 20px;
	text-align: right;
	white-space: nowrap;
    clear: both;
	color: #3e3e3e;
	width: 100px;
	vertical-align: top;
}

.form-italic-inset{
	font-style: italic; 	
	font-weight: bold; 
	font-size: 12px;
	white-space: nowrap;
    clear: both;
	color: #3e3e3e;
	vertical-align: top;
}
.queryDropDown {
	padding-bottom: 20px;
}

.button-td {
	white-space: nowrap;
}