.fw .defaultReview {

	height:65px;
	display: block;
	position: relative;
}

.fw .defaultReview .content .gradient a.electric{
	padding-left:3px;
	text-decoration: none;
	color:#3998c9;
}
.fw .defaultReview .content .gradient a.electric:hover{
	text-decoration: underline;
	color:#3998c9;	
}
.fw .defaultReview .content .gradient a.electric:visited{
	color:#3998c9;
}
.fw .starOff_small{
	background-image: url(../images/reviews/starOff_small.png);
	background-repeat: no-repeat;
	display: block;
	width:17px;
	height:16px;
}
.fw .starOn_small{
	background-image: url(../images/reviews/starOn_small.png);
	background-repeat: no-repeat;
	display: block;
	width:17px;
	height:16px;
}
.fw .defaultReview .head {
	background-image: url(../images/reviews/defaultTop.png);
	background-repeat: no-repeat;
	width:112px;
	height:6px;
	display: block;
	padding:0px;
	margin:0px;
	line-height: 6px;
	font-size:1px;
}
.fw .defaultReview .foot{
	background-image: url(../images/reviews/defaultBottom.png);
	background-repeat: no-repeat;
	width:112px;
	height:8px;	
	display: block;
}
.fw .defaultReview .content{
	background-image: url(../images/reviews/defaultBg.png);
	background-repeat: repeat-y;
	padding-left:1px;
	padding-right:5px;
}
.fw .defaultReview .content .gradient{
	background-image: url(../images/reviews/defaultGradient.png);
	background-repeat: repeat-x;
	background-position: bottom;
	display: block;
	padding-left:10px;
	padding-top:5px;
	font-size: 11px;
	padding-bottom:5px;
	line-height: 20px;
	color:#666666;
	width:96px;
}
.fw .defaultReview .content .gradient a{
	color:#666666;
	text-decoration: none;
}
.fw .defaultReview .content .gradient a:visited{
	color:#666666;
	text-decoration: none;
}
.fw .defaultReview .content .gradient a:hover{
	color:#666666;
	text-decoration: underline;
}
.fw .defaultReview .content .gradient .stars{
	padding-bottom:5px;
	padding-right: 0px;
}
.fw .stars{
	float:left;
	padding-right: 15px;
}



.fw .defaultReview .head1 {
	background-image: url(../images/reviews/defaultTop1.png);
	background-repeat: no-repeat;
	width:170px;
	height:6px;
	display: block;
	padding:0px;
	margin:0px;
	line-height: 6px;
	font-size:1px;
}
.fw .defaultReview .foot1{
	background-image: url(../images/reviews/defaultBottom1.png);
	background-repeat: no-repeat;
	width:170px;
	height:8px;	
	display: block;
}
.fw .defaultReview .content1{
	background-image: url(../images/reviews/defaultBg1.png);
	background-repeat: repeat-y;
	padding-left:1px;
	padding-right:5px;
}
.fw .defaultReview .content .gradient1{
	background-image: url(../images/reviews/defaultGradient.png);
	background-repeat: repeat-x;
	background-position: bottom;
	display: block;
	padding-left:10px;
	padding-top:5px;
	font-size: 11px;
	padding-bottom:5px;
	line-height: 20px;
	color:#666666;
}




.fw .defaultReview .details{
	position:absolute;
	width:216px;
	border:1px solid #a7a7a7;
	background-color: #ffffff;
	right:-150px;
	top:20px;
	z-index:100000;
	padding:1px;
	display: none;
}
.fw .defaultReview .details .header{
	background-image: url(../images/reviews/popupHeadBg.png);
	background-repeat: repeat-x;
	height: 33px;
	line-height: 30px;
	padding-left:20px;
	font-size: 12px;
	font-weight: bold;
	color:#ffffff;
}
.fw .defaultReview .details .detailsContent{
	padding-left:20px;
	padding-top:10px;
	font-size:11px;

}
.fw .defaultReview .details .mt20{
	margin-top:20px;
}
.fw .defaultReview .details .row{
	height:25px;
	line-height: 20px;
	padding-top:5px;
}
.fw .defaultReview .startitle{
	float:left;
	display:block;
	padding-right:5px;
}
.fw .defaultReview .starsbox{
	display:block; 
	position:relative; 
	margin-top:2px;
}
.fw .defaultReview .starpoints{
	display:block; 
	float:left; 
	position:relative; 
	top:-3px;
	padding-left:6px;
}
.fw .defaultReview .details .arrow{
	position: absolute;
	display: block;
	top:3px;
	left:-19px;
	background-image: url(../images/reviews/popupArrow.png);
	background-repeat: no-repeat;
	width:20px;
	height:29px;
}

.fw .reviewon{
	font-size:11px;
}
.fw .percentsReview{
	color:#566e72;
	position: relative;
	left:20px;
	top:2px;
	padding-bottom: 5px;
}
.dj_ie6 .fw .percentsReview{
	margin-left:15px;
}
.fw .percentsReview .percents{
	font-size:18px;
	font-weight: bold;
}
.fw .percentsReview .positive{
	background-image: url(../images/reviews/positive.png);
	background-repeat: no-repeat;
	width:110px;
	height:46px;
	position: relative;
	background-position: top right;
	top:-3px;
}
.dj_ie7 .fw .percentsReview .positive{
	width:60px;
	height:46px;
	position: relative;
	background-position: top right;
	top:-4px;
} 
.dj_ie6 .fw .percentsReview .positive{
	position: absolute;
	right:50px;
	top:-5px;
}
.fw .percentsReview .negative{
	background-image: url(../images/reviews/negative.png);
	background-repeat: no-repeat;
	width:106px;
	height:46px;
	position: relative;
	background-position: top right;
	top:-4px;
}
.dj_ie7 .fw .percentsReview .negative{
	width:60px;
	height:46px;
	position: relative;
	background-position: top right;
	top:-4px;
}

.fw .percentsReview .left{
	float:left;
}
.fw .percentsReview .clear{
	clear:both;
}
.fw .percentsReview_small{
	position: relative;
	top:9px;
	margin-right:30px;
}
.dj_ie6 .fw .percentsReview_small img.left{
display: block;
}

/*----------------------------------------------------------------------------------------------------*/
.fw .percentsReview_small .positive_small{
	background-image: url("../images/reviews/positive_small.png");
	background-repeat: no-repeat;
	display: block;
	width:31px;
	height:31px;
}
.fw .percentsReview_small .negative_small{
	background-image: url("../images/reviews/negative_small.png");
	background-repeat: no-repeat;
	display: block;
	width:31px;
	height:31px;
}

.fw .percentsReview_small .positive{
	position: relative;
	color:#ffffff;
	font-weight: bold;
	top:3px;
	margin-left:8px;
	margin-right: 20px;
}
.dj_ie6 .fw .percentsReview_small .positive{
position:absolute;
top:-6px;
left:-165px;
}
.fw .percentsReview_small .positive .l{
	position: relative;
float:left;
background-image: url(../images/reviews/positivel.png);
background-repeat: no-repeat;
height:25px;
width:2px;
}
.fw .percentsReview_small .positive .r{
	position: relative;
float:left;
background-image: url(../images/reviews/positiver.png);
background-repeat: no-repeat;
height:25px;
width:2px;
}
.fw .percentsReview_small .positive .cnt{
	position: relative;
	padding-left:5px;
	padding-right:5px;
float:left;
background-color:#9ACCDF;
border-top:1px solid #9ACCDF;
border-bottom: 1px solid #9ACCDF;
line-height:23px;
}



.fw .percentsReview_small .negative{
	position: relative;
	color:#FFFFFF;
	font-weight: bold;	
	top:3px;
	margin-left:8px;
	margin-right: 20px;
}
.dj_ie6 .fw .percentsReview_small .negative{
	position: absolute;
	top:-6px;
	left:-65px;
}
.fw .percentsReview_small .negative .l{
	position: relative;
float:left;
background-image: url(../images/reviews/negativel.png);
background-repeat: no-repeat;
height:25px;
width:2px;
}
.fw .percentsReview_small .negative .r{
	position: relative;
float:left;
background-image: url(../images/reviews/negativer.png);
background-repeat: no-repeat;
height:25px;
width:2px;
}
.fw .percentsReview_small .negative .cnt{
	position: relative;
	padding-left:5px;
	padding-right:5px;
float:left;
background-color:#545d64;
border-top:1px solid #545d64;
border-bottom: 1px solid #545d64;
line-height:23px;
}



.fw .percentsReview_small .neutral{
	position: relative;
	color:#333333;
	top:3px;
	margin-left:8px;
	margin-right: 20px;
}
.dj_ie6 .fw .percentsReview_small .neutral{
	position: absolute;
	top:-6px;
	left:-65px;
}
.fw .percentsReview_small .neutral .l{
	position: relative;
float:left;
background-image: url(../images/reviews/neutrall.png);
background-repeat: no-repeat;
height:25px;
width:2px;
}
.fw .percentsReview_small .neutral .r{
	position: relative;
float:left;
background-image: url(../images/reviews/neutralr.png);
background-repeat: no-repeat;
height:25px;
width:2px;
}
.fw .percentsReview_small .neutral .cnt{
	position: relative;
	padding-left:5px;
	padding-right:5px;
float:left;
background-color:#FFFFFF;
border-top:1px solid #CCCCCC;
border-bottom: 1px solid #CCCCCC;
line-height:23px;
}
/*---------------------------------------------------------------------------------------------------------------------------*/

.fw .defaultReview .details .header a.close{
	position: relative;
	right:10px;
	top:10px;
}
.fw .reviewon a{
	color:#3998c9;
	text-decoration: none;
}
.fw .reviewon a:hover{
	text-decoration: underline;
}

.fw .reviewStatusDeleted{
	background-image: url(../images/reviews/deleted.png);
	background-repeat:no-repeat;
	width:71px;
	height:25px;
	position:relative;
	top:25px;
}
.fw .reviewStatusClosed{
	background-image: url(../images/reviews/closed.png);
	background-repeat:no-repeat;
	width:71px;
	height:25px;
	position:relative;
	top:25px;
}
.fw .reviewTitle{
	position: relative;
	font-size:14px;
	line-height: 20px;
	display: block;
	padding-bottom: 5px;
	margin-top:-3px;	
}
.dj_safari .fw .reviewTitle{
top:2px;
}
.dj_ie7 .fw .reviewTitle,
.dj_ie6 .fw .reviewTitle{
top:3px;
}

.fw .reviewTitle a{
	color:#566d73;
}
.fw .reviewTitle a:hover{
	color:#3998c9;
	text-decoration: none;
}

.fw .reviewsttl{
position:relative;
	margin-top:17px;
	margin-bottom:9px;
}
.fw .reviewsttl1{
position:relative;
	margin-top:5px;
	margin-bottom:5px;
}


.fw .reviewby{
	position: relative;
	top:-5px;
}