/* TODO: verify that all "!important" usages are necessary... */

.fw .UITransferBox {
	height: 270px;
}
.fw .UITransferBox .UIInput .dijitInputContainer {
	width: 197px;
}
.fw .UITransferBox .UIInput {
	margin-bottom: 17px; /* [KGF #22046] */
}
.fw .UITransferBox .UIInput input {
	/* our !important is more !important than their !important (!) */
	background: url('../images/transferbox/searchicon.jpg') no-repeat 0 -2px !important;
		/* padding-left needs !important to override UIInput and dijit.css */
	padding-left: 24px !important;
}
.dj_ie .fw .UITransferBox .UIInput input,
.dj_safari .fw .UITransferBox .UIInput input {
	/*
	[AY] #21963 fix - 100% width overextends, due to padding
	[KGF] This also applies to Safari
	*/
	width: 144px !important;
}

.fw .UITransferBox .UIInput {
	width: 199px;
}

.fw .UITransferBox .UIInput .dijitPlaceHolder {
	padding-left: 24px;
}

.fw .UITransferBox .leftCol {
	float: left;
	width: 200px;
}
.fw .UITransferBox .btnsCol {
	float: left;
	padding: 90px 16px 0;
}
.fw .UITransferBox .btnsCol .UIActionImage img {
	margin-bottom: 20px;
}
.fw .UITransferBox .rightCol {
	float: left;
	width: 200px;
}

.fw .UITransferBox .multipleSelectWrapper {
	position: relative;
	float: left;
	border: 1px solid #ffffff;
	background-color: #ffffff;
}
.fw .UITransferBox .multipleSelectWrapperFocus {
	position: relative;
	float: left;
	border: 1px solid #76929d;
	width: 198px;
}
/* wrapper div around select elements */
.fw .UITransferBox .multipleSelect {
	float: left;
	width: 196px;
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #8f8f8f;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
}
/* [KGF #22046] Unfortunately it seems impossible to take away the default
	select element border from IE6-7 (which also unfortunately look hideous),
	so remove this one instead to attempt to look somewhat less awkward...
*/
.dj_ie6 .fw .UITransferBox .multipleSelect,
.dj_ie7 .fw .UITransferBox .multipleSelect,
.dj_safari .fw .UITransferBox .multipleSelect {
	border: none;
}

/* [KGF] give Safari a bottom border since it seems to supply none */
.dj_safari .fw .UITransferBox .multipleSelect {
	border-bottom: 1px solid #e3e3e3;
}

/* actual select elements */
.fw .UITransferBox select {
	float: left;
	border-bottom: 0px solid #e3e3e3 !important;
	border-top: 1px solid #cdcdcd !important;
	border-left: 1px solid #f3f3f3 !important;
	border-right: 1px solid #f3f3f3 !important;
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	font-size: 12px;
}

/* [KGF] TODO: make some of these classnames more sane? (i.e. Left/Right) */
/* [KGF] not sure why these widths are different... */
.fw .UITransferBox .multipleSelect1 {
	width: 197px;
}
.fw .UITransferBox .multipleSelect2 {
	width: 100%;
}
.fw .UITransferBox .multipleSelect1 option,
.fw .UITransferBox .multipleSelect2 option {
	height: 20px;
	padding-top: 5px;
	padding-left: 10px;
}

.fw .UITransferBox .title1,
.fw .UITransferBox .title2
{
	font-size: 12px;
	font-weight: bold;
	padding: 0 3px 4px;
	display: block;
	position: relative;
	height: 17px;
}
