/* FIXME: localized images probably won't be doable via css background-image */
/* can we think about doing an icon or "unilingual" browse image? */
.fw .UIUploadBrowseButton {
	background: #fff;
	width: 110px;
	height: 34px;
	color: #D3D0D0;
	opacity: 0.0;
}
/* TODO: since these are localized images, they likely won't be set here */
.fw .UIUploadBrowseHover {
	text-decoration: underline;
}
.fw .UIUploadBrowseClick {
	
}
.fw .UIUploadBrowseDisabled {
	background: #fff;
	width: 110px;
	height: 34px;
}

.fw .UIUploadButton {
}

.fw .UIUploadContainer {
	float:left;
}

/* Loading area style */
/* TODO: refine styles when we get final mockup */
.fw .UIUploadLoading {
	display:none;
}
/* uploaded files display area */
/* TODO: refine styles when we get final mockup */
.fw .UIUploadFileList {
	border: 1px solid #ccc;
	height: 4em;
	overflow: auto;
}

/* for now, don't show filesizes (not supported in HTML version) */
/* TODO: alter selector (add .UIUploadFileList) once we're using widget */
.fw .fileToUploadSize {
	display: none;
}
