@import url('UILayout.css');
/* [KGF] import component CSS so that non-iframe apps have
   full access to our styles as well.
*/
@import url('UIComponents.css');

body, html {
	overflow: hidden;
}

/* overall styles for top-level WEM DOM elements */
.wemcontainer {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-size: 12px;
}

.wembody {
	height:100%;
}

.wembody iframe {
	border:none;
	/* magically fix FF scrollHeight issue. TODO: find better magical fix? */
	display:block;
}

/* style for profile edit container */
.userEditProfile {
	height: 100%;
	width: 100%;
	z-index: 10;
	position: absolute;
	top:0;
	left:0;
}